<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Wojtas_test/02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

url = 'train.csv'
df1 = pd.read_csv(url, sep=",")

<ipython-input-137-47cdf1693320>:11: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(url, sep=",")

In [138]:
df1.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [139]:
df1.drop_duplicates(subset="ID", inplace=True)
list(df1.columns)

['ID',
 'Customer_ID',
 'Month',
 'Name',
 'Age',
 'SSN',
 'Occupation',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Type_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance',
 'Credit_Score']

In [140]:
df1.drop(columns = ['ID', 'Customer_ID', 'Name', 'SSN'], inplace = True)

In [141]:
df1.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [72]:
df1.dtypes

Month                        object
Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [142]:
FeaturesToConvert = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

In [150]:
columns = df1.columns.tolist()
df1[columns] = df1[columns].astype(str)
df1.dtypes

Month                       object
Age                         object
Occupation                  object
Annual_Income               object
Monthly_Inhand_Salary       object
Num_Bank_Accounts           object
Num_Credit_Card             object
Interest_Rate               object
Num_of_Loan                 object
Type_of_Loan                object
Delay_from_due_date         object
Num_of_Delayed_Payment      object
Changed_Credit_Limit        object
Num_Credit_Inquiries        object
Credit_Mix                  object
Outstanding_Debt            object
Credit_Utilization_Ratio    object
Credit_History_Age          object
Payment_of_Min_Amount       object
Total_EMI_per_month         object
Amount_invested_monthly     object
Payment_Behaviour           object
Monthly_Balance             object
Credit_Score                object
dtype: object

In [158]:
#usun znaki -_
for columns in FeaturesToConvert:
  df1[columns] = df1[columns].str.strip(['-','_'])

AttributeError: Can only use .str accessor with string values!

In [159]:
df1['Credit_Mix'].replace('_', value='', inplace = True)

In [161]:
#puste kolumny zastąp NAN
for columns in FeaturesToConvert:
    df1[columns] = df1[columns].replace({'': np.nan})

0
1        Good
2        Good
3        Good
4        Good
         ...
99995
99996
99997    Good
99998    Good
99999    Good
Name: Credit_Mix, Length: 100000, dtype: object

In [146]:
#zmien typ zmeinnych ilosciowych
for feature in FeaturesToConvert:
  df1[feature] = df1[feature].astype('float64')

In [147]:
df1.dtypes

Month                        object
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary        object
Num_Bank_Accounts            object
Num_Credit_Card              object
Interest_Rate                object
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date          object
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries         object
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio     object
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month          object
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [153]:
#uzupełnij braki średnią
df1['Monthly_Inhand_Salary'] = df1['Monthly_Inhand_Salary'].fillna(method='pad')

In [164]:
#uzupełnij brak credit mixów standardowym
df1['Credit_Mix'] = df1['Credit_Mix'].fillna('Standard')

df1.head(100)

#uzupełnij brak credit mixów standardowym
df1['Credit_Mix'].replace('', value='Standard', inplace = True)

In [166]:
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,NaN,Scientist,NaN,1824.8433333333328,3,4,3,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Standard,NaN,26.822619623699016,22 Years and 1 Months,No,49.57494921489417,NaN,High_spent_Small_value_payments,NaN,Good
1,February,NaN,Scientist,NaN,nan,3,4,3,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,NaN,31.94496005538421,nan,No,49.57494921489417,NaN,Low_spent_Large_value_payments,NaN,Good
2,March,NaN,Scientist,NaN,nan,3,4,3,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,NaN,28.60935202206993,22 Years and 3 Months,No,49.57494921489417,NaN,Low_spent_Medium_value_payments,NaN,Good
3,April,NaN,Scientist,NaN,nan,3,4,3,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,NaN,31.377861869582357,22 Years and 4 Months,No,49.57494921489417,NaN,Low_spent_Small_value_payments,NaN,Good
4,May,NaN,Scientist,NaN,1824.8433333333328,3,4,3,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,NaN,24.797346908844982,22 Years and 5 Months,No,49.57494921489417,NaN,High_spent_Medium_value_payments,NaN,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,NaN,Engineer,NaN,7266.686666666667,3,6,1,NaN,"Payday Loan, and Payday Loan",...,Good,NaN,30.87079911079545,26 Years and 0 Months,No,135.17337097171767,NaN,High_spent_Large_value_payments,NaN,Good
96,January,NaN,Entrepreneur,NaN,4766.68,6,4,14,NaN,"Not Specified, Student Loan, and Personal Loan",...,Standard,NaN,25.64924606724341,26 Years and 10 Months,Yes,124.39208242092045,NaN,Low_spent_Large_value_payments,NaN,Standard
97,February,NaN,Entrepreneur,NaN,4766.68,6,4,14,NaN,"Not Specified, Student Loan, and Personal Loan",...,Standard,NaN,29.40877527612245,26 Years and 11 Months,Yes,124.39208242092045,NaN,High_spent_Medium_value_payments,NaN,Standard
98,March,NaN,Entrepreneur,NaN,nan,6,4,14,NaN,"Not Specified, Student Loan, and Personal Loan",...,Standard,NaN,31.25892846912917,27 Years and 0 Months,NM,124.39208242092045,NaN,High_spent_Large_value_payments,NaN,Standard
99,April,NaN,Entrepreneur,NaN,4766.68,6,4,14,NaN,"Not Specified, Student Loan, and Personal Loan",...,Standard,NaN,27.19258740532601,27 Years and 1 Months,Yes,124.39208242092045,NaN,Low_spent_Small_value_payments,NaN,Standard

In [167]:
df1['Monthly_Inhand_Salary'].describe()

count     100000
unique     13236
top          nan
freq       15002
Name: Monthly_Inhand_Salary, dtype: object

In [ ]:
#uzupełnić kolumny średnimi bądź innymi sensowymi wartościami, zrobić sekcje Zakoduj zmienne kategoryczne z prezki