In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

url = 'train.csv'
df1 = pd.read_csv(url, sep=",")

C:\Users\bwojt\AppData\Local\Temp\ipykernel_6428\425976383.py:11: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(url, sep=",")

In [2]:
df1.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [3]:
df1.drop_duplicates(subset="ID", inplace=True)
list(df1.columns)

['ID',
 'Customer_ID',
 'Month',
 'Name',
 'Age',
 'SSN',
 'Occupation',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Type_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance',
 'Credit_Score']

In [4]:
df1.drop(columns = ['ID', 'Customer_ID', 'Name', 'SSN'], inplace = True)

In [5]:
df1.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [6]:
df1.dtypes

Month                        object
Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [7]:
FeaturesToConvert = ['Age', 'Credit_Utilization_Ratio', 'Total_EMI_per_month','Annual_Income', 'Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate' ,'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

In [8]:
columns = df1.columns.tolist()
df1[columns] = df1[columns].astype(str)
df1.dtypes
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822619623699016,22 Years and 1 Months,No,49.57494921489417,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.94496005538421,nan,No,49.57494921489417,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,-500,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.60935202206993,22 Years and 3 Months,No,49.57494921489417,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377861869582357,22 Years and 4 Months,No,49.57494921489417,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797346908844982,22 Years and 5 Months,No,49.57494921489417,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33,Engineer,88640.24,7266.686666666667,3,6,1,2,"Payday Loan, and Payday Loan",...,Good,950.36,30.87079911079545,26 Years and 0 Months,No,135.17337097171767,98.44195128223792,High_spent_Large_value_payments,733.0533444127112,Good
96,January,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.64924606724341,26 Years and 10 Months,Yes,124.39208242092045,243.73543739209438,Low_spent_Large_value_payments,378.54048018698535,Standard
97,February,35_,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.40877527612245,26 Years and 11 Months,Yes,124.39208242092045,142.75186411942676,High_spent_Medium_value_payments,459.52405345965286,Standard
98,March,35,Entrepreneur,54392.16_,nan,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,_,179.22,31.25892846912917,27 Years and 0 Months,NM,124.39208242092045,33.349568589344514,High_spent_Large_value_payments,558.9263489897351,Standard
99,April,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.19258740532601,27 Years and 1 Months,Yes,124.39208242092045,494.8422277056662,Low_spent_Small_value_payments,147.43368987341347,Standard

In [9]:
#usun znaki -_
for column in FeaturesToConvert:
    df1[column] = df1[column].str.strip('-_')
  
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822619623699016,22 Years and 1 Months,No,49.57494921489417,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.94496005538421,nan,No,49.57494921489417,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,500,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.60935202206993,22 Years and 3 Months,No,49.57494921489417,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377861869582357,22 Years and 4 Months,No,49.57494921489417,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797346908844982,22 Years and 5 Months,No,49.57494921489417,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33,Engineer,88640.24,7266.686666666667,3,6,1,2,"Payday Loan, and Payday Loan",...,Good,950.36,30.87079911079545,26 Years and 0 Months,No,135.17337097171767,98.44195128223792,High_spent_Large_value_payments,733.0533444127112,Good
96,January,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.64924606724341,26 Years and 10 Months,Yes,124.39208242092045,243.73543739209438,Low_spent_Large_value_payments,378.54048018698535,Standard
97,February,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.40877527612245,26 Years and 11 Months,Yes,124.39208242092045,142.75186411942676,High_spent_Medium_value_payments,459.52405345965286,Standard
98,March,35,Entrepreneur,54392.16,nan,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,_,179.22,31.25892846912917,27 Years and 0 Months,NM,124.39208242092045,33.349568589344514,High_spent_Large_value_payments,558.9263489897351,Standard
99,April,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.19258740532601,27 Years and 1 Months,Yes,124.39208242092045,494.8422277056662,Low_spent_Small_value_payments,147.43368987341347,Standard

In [10]:
df1['Credit_Mix'].replace('_', value='', inplace = True)
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,,809.98,26.822619623699016,22 Years and 1 Months,No,49.57494921489417,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.94496005538421,nan,No,49.57494921489417,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,500,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.60935202206993,22 Years and 3 Months,No,49.57494921489417,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377861869582357,22 Years and 4 Months,No,49.57494921489417,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797346908844982,22 Years and 5 Months,No,49.57494921489417,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33,Engineer,88640.24,7266.686666666667,3,6,1,2,"Payday Loan, and Payday Loan",...,Good,950.36,30.87079911079545,26 Years and 0 Months,No,135.17337097171767,98.44195128223792,High_spent_Large_value_payments,733.0533444127112,Good
96,January,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.64924606724341,26 Years and 10 Months,Yes,124.39208242092045,243.73543739209438,Low_spent_Large_value_payments,378.54048018698535,Standard
97,February,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.40877527612245,26 Years and 11 Months,Yes,124.39208242092045,142.75186411942676,High_spent_Medium_value_payments,459.52405345965286,Standard
98,March,35,Entrepreneur,54392.16,nan,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,,179.22,31.25892846912917,27 Years and 0 Months,NM,124.39208242092045,33.349568589344514,High_spent_Large_value_payments,558.9263489897351,Standard
99,April,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.19258740532601,27 Years and 1 Months,Yes,124.39208242092045,494.8422277056662,Low_spent_Small_value_payments,147.43368987341347,Standard

In [11]:
#puste kolumny zastąp NAN
for columns in FeaturesToConvert:
    df1[columns] = df1[columns].replace({'': np.nan})
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,,809.98,26.822619623699016,22 Years and 1 Months,No,49.57494921489417,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.94496005538421,nan,No,49.57494921489417,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,500,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.60935202206993,22 Years and 3 Months,No,49.57494921489417,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,Scientist,19114.12,nan,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377861869582357,22 Years and 4 Months,No,49.57494921489417,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,Scientist,19114.12,1824.8433333333328,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797346908844982,22 Years and 5 Months,No,49.57494921489417,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33,Engineer,88640.24,7266.686666666667,3,6,1,2,"Payday Loan, and Payday Loan",...,Good,950.36,30.87079911079545,26 Years and 0 Months,No,135.17337097171767,98.44195128223792,High_spent_Large_value_payments,733.0533444127112,Good
96,January,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.64924606724341,26 Years and 10 Months,Yes,124.39208242092045,243.73543739209438,Low_spent_Large_value_payments,378.54048018698535,Standard
97,February,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.40877527612245,26 Years and 11 Months,Yes,124.39208242092045,142.75186411942676,High_spent_Medium_value_payments,459.52405345965286,Standard
98,March,35,Entrepreneur,54392.16,nan,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,,179.22,31.25892846912917,27 Years and 0 Months,NM,124.39208242092045,33.349568589344514,High_spent_Large_value_payments,558.9263489897351,Standard
99,April,35,Entrepreneur,54392.16,4766.68,6,4,14,3,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.19258740532601,27 Years and 1 Months,Yes,124.39208242092045,494.8422277056662,Low_spent_Small_value_payments,147.43368987341347,Standard

In [12]:
#zmien typ zmeinnych ilosciowych
for feature in FeaturesToConvert:
  df1[feature] = df1[feature].astype('float64')
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.0,Scientist,19114.12,NaN,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,nan,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,500.0,Scientist,19114.12,NaN,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.0,Scientist,19114.12,NaN,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33.0,Engineer,88640.24,7266.686667,3.0,6.0,1.0,2.0,"Payday Loan, and Payday Loan",...,Good,950.36,30.870799,26 Years and 0 Months,No,135.173371,98.441951,High_spent_Large_value_payments,733.053344,Good
96,January,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.649246,26 Years and 10 Months,Yes,124.392082,243.735437,Low_spent_Large_value_payments,378.540480,Standard
97,February,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.408775,26 Years and 11 Months,Yes,124.392082,142.751864,High_spent_Medium_value_payments,459.524053,Standard
98,March,35.0,Entrepreneur,54392.16,NaN,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,,179.22,31.258928,27 Years and 0 Months,NM,124.392082,33.349569,High_spent_Large_value_payments,558.926349,Standard
99,April,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.192587,27 Years and 1 Months,Yes,124.392082,494.842228,Low_spent_Small_value_payments,147.433690,Standard

In [13]:
df1.dtypes

Month                        object
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date          object
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [14]:
#uzupełnij braki KOLEJNA
df1['Monthly_Inhand_Salary'] = df1['Monthly_Inhand_Salary'].fillna(method='pad')
df1.head(100)

C:\Users\bwojt\AppData\Local\Temp\ipykernel_6428\542827506.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Monthly_Inhand_Salary'] = df1['Monthly_Inhand_Salary'].fillna(method='pad')

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,nan,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,500.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33.0,Engineer,88640.24,7266.686667,3.0,6.0,1.0,2.0,"Payday Loan, and Payday Loan",...,Good,950.36,30.870799,26 Years and 0 Months,No,135.173371,98.441951,High_spent_Large_value_payments,733.053344,Good
96,January,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.649246,26 Years and 10 Months,Yes,124.392082,243.735437,Low_spent_Large_value_payments,378.540480,Standard
97,February,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.408775,26 Years and 11 Months,Yes,124.392082,142.751864,High_spent_Medium_value_payments,459.524053,Standard
98,March,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,,179.22,31.258928,27 Years and 0 Months,NM,124.392082,33.349569,High_spent_Large_value_payments,558.926349,Standard
99,April,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.192587,27 Years and 1 Months,Yes,124.392082,494.842228,Low_spent_Small_value_payments,147.433690,Standard

In [15]:
#uzupełnij brak credit mixów standardowym
df1['Credit_Mix'].replace('', value='Standard', inplace = True)
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Standard,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,nan,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,500.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,August,33.0,Engineer,88640.24,7266.686667,3.0,6.0,1.0,2.0,"Payday Loan, and Payday Loan",...,Good,950.36,30.870799,26 Years and 0 Months,No,135.173371,98.441951,High_spent_Large_value_payments,733.053344,Good
96,January,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,25.649246,26 Years and 10 Months,Yes,124.392082,243.735437,Low_spent_Large_value_payments,378.540480,Standard
97,February,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,29.408775,26 Years and 11 Months,Yes,124.392082,142.751864,High_spent_Medium_value_payments,459.524053,Standard
98,March,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,31.258928,27 Years and 0 Months,NM,124.392082,33.349569,High_spent_Large_value_payments,558.926349,Standard
99,April,35.0,Entrepreneur,54392.16,4766.680000,6.0,4.0,14.0,3.0,"Not Specified, Student Loan, and Personal Loan",...,Standard,179.22,27.192587,27 Years and 1 Months,Yes,124.392082,494.842228,Low_spent_Small_value_payments,147.433690,Standard

In [16]:
#checking for NaNs and empty values (shouldnt be any, but just to verify) pt1
print("Number of NaN records in column:", df1['Month'].isna().sum())
print("Number of empty records in column:", (df1['Month'] == '').sum())

print("Number of NaN records in column:", df1['Age'].isna().sum())
print("Number of empty records in column:", (df1['Age'] == '').sum())

print("Number of NaN records in column:", df1['Occupation'].isna().sum())
print("Number of empty records in column:", (df1['Occupation'] == '').sum())

print("Number of NaN records in column:", df1['Annual_Income'].isna().sum())
print("Number of empty records in column:", (df1['Annual_Income'] == '').sum())

print("Number of NaN records in column:", df1['Monthly_Inhand_Salary'].isna().sum())
print("Number of empty records in column:", (df1['Monthly_Inhand_Salary'] == '').sum())

print("Number of NaN records in column:", df1['Num_Bank_Accounts'].isna().sum())
print("Number of empty records in column:", (df1['Num_Bank_Accounts'] == '').sum())

print("Number of NaN records in column:", df1['Num_Credit_Card'].isna().sum())
print("Number of empty records in column:", (df1['Num_Credit_Card'] == '').sum())

print("Number of NaN records in column:", df1['Interest_Rate'].isna().sum())
print("Number of empty records in column:", (df1['Interest_Rate'] == '').sum())

print("Number of NaN records in column:", df1['Num_of_Loan'].isna().sum())
print("Number of empty records in column:", (df1['Num_of_Loan'] == '').sum())

Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0

In [17]:
df1.dtypes

Month                        object
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date          object
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [18]:
#checking for NaNs and empty values (shouldnt be any, but just to verify) pt2
print("Number of NaN records in column:", df1['Type_of_Loan'].isna().sum())
print("Number of empty records in column:", (df1['Type_of_Loan'] == '').sum())

print("Number of NaN records in column:", df1['Delay_from_due_date'].isna().sum())
print("Number of empty records in column:", (df1['Delay_from_due_date'] == '').sum())

print("Number of NaN records in column:", df1['Num_of_Delayed_Payment'].isna().sum())
print("Number of empty records in column:", (df1['Num_of_Delayed_Payment'] == '').sum())

print("Number of NaN records in column:", df1['Changed_Credit_Limit'].isna().sum())
print("Number of empty records in column:", (df1['Changed_Credit_Limit'] == '').sum())

print("Number of NaN records in column:", df1['Num_Credit_Inquiries'].isna().sum())
print("Number of empty records in column:", (df1['Num_Credit_Inquiries'] == '').sum())

print("Number of NaN records in column:", df1['Credit_Mix'].isna().sum())
print("Number of empty records in column:", (df1['Credit_Mix'] == '').sum())

print("Number of NaN records in column:", df1['Outstanding_Debt'].isna().sum())
print("Number of empty records in column:", (df1['Outstanding_Debt'] == '').sum())

print("Number of NaN records in column:", df1['Credit_Utilization_Ratio'].isna().sum())
print("Number of empty records in column:", (df1['Credit_Utilization_Ratio'] == '').sum())

Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 7002
Number of empty records in column: 0
Number of NaN records in column: 2091
Number of empty records in column: 0
Number of NaN records in column: 1965
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0

In [19]:
#checking for NaNs and empty values (shouldnt be any, but just to verify) pt3
print("Number of NaN records in column:", df1['Credit_History_Age'].isna().sum())
print("Number of empty records in column:", (df1['Credit_History_Age'] == '').sum())

print("Number of NaN records in column:", df1['Payment_of_Min_Amount'].isna().sum())
print("Number of empty records in column:", (df1['Payment_of_Min_Amount'] == '').sum())

print("Number of NaN records in column:", df1['Total_EMI_per_month'].isna().sum())
print("Number of empty records in column:", (df1['Total_EMI_per_month'] == '').sum())

print("Number of NaN records in column:", df1['Amount_invested_monthly'].isna().sum())
print("Number of empty records in column:", (df1['Amount_invested_monthly'] == '').sum())

print("Number of NaN records in column:", df1['Payment_Behaviour'].isna().sum())
print("Number of empty records in column:", (df1['Payment_Behaviour'] == '').sum())

print("Number of NaN records in column:", df1['Monthly_Balance'].isna().sum())
print("Number of empty records in column:", (df1['Monthly_Balance'] == '').sum())

print("Number of NaN records in column:", df1['Credit_Score'].isna().sum())
print("Number of empty records in column:", (df1['Credit_Score'] == '').sum())

Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 4479
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0
Number of NaN records in column: 1200
Number of empty records in column: 0
Number of NaN records in column: 0
Number of empty records in column: 0

In [20]:
#uzupełnić kolumny średnimi bądź innymi sensowymi wartościami, zrobić sekcje Zakoduj zmienne kategoryczne z prezki

print("Number of NaN records in column:", df1['Num_of_Delayed_Payment'].isna().sum())
print("Number of NaN records in column:", df1['Changed_Credit_Limit'].isna().sum())
print("Number of NaN records in column:", df1['Num_Credit_Inquiries'].isna().sum())
print("Number of NaN records in column:", df1['Amount_invested_monthly'].isna().sum())
print("Number of NaN records in column:", df1['Monthly_Balance'].isna().sum())

Number of NaN records in column: 7002
Number of NaN records in column: 2091
Number of NaN records in column: 1965
Number of NaN records in column: 4479
Number of NaN records in column: 1200

In [21]:
df1[['Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Amount_invested_monthly', 'Monthly_Balance']].head(20)

,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Amount_invested_monthly,Monthly_Balance
0,7.0,11.27,4.0,80.415295,312.494089
1,NaN,11.27,4.0,118.280222,284.629162
2,7.0,NaN,4.0,81.699521,331.209863
3,4.0,6.27,4.0,199.458074,223.451310
4,NaN,11.27,4.0,41.420153,341.489231
5,4.0,9.27,4.0,62.430172,340.479212
6,8.0,11.27,4.0,178.344067,244.565317
7,6.0,11.27,4.0,24.785217,358.124168
8,4.0,5.42,2.0,104.291825,470.690627
9,1.0,7.42,2.0,40.391238,484.591214
10,1.0,5.42,2.0,58.515976,466.466476
11,3.0,5.42,2.0,99.306228,465.676224
12,1.0,6.42,2.0,130.115420,444.867032
13,0.0,5.42,2.0,43.477190,481.505262
14,4.0,5.42,2.0,70.101774,464.880678
15,4.0,5.42,2.0,218.904344,356.078109
16,8.0,7.10,3.0,168.413703,1043.315978
17,6.0,7.10,3.0,232.860384,998.869297
18,7.0,11.10,NaN,10000.000000,715.741367
19,5.0,9.10,3.0,825.216270,426.513411

In [22]:
print("Number of NaN records in column:", df1['Num_of_Delayed_Payment'].isna().sum())
df1['Num_of_Delayed_Payment'] = df1['Num_of_Delayed_Payment'].fillna(df1['Monthly_Inhand_Salary'].mean())
print("Number of NaN records in column:", df1['Num_of_Delayed_Payment'].isna().sum())

Number of NaN records in column: 7002
Number of NaN records in column: 0

In [23]:
print("Number of NaN records in column:", df1['Changed_Credit_Limit'].isna().sum())
df1['Changed_Credit_Limit'] = df1['Changed_Credit_Limit'].fillna(method='pad')
print("Number of NaN records in column:", df1['Changed_Credit_Limit'].isna().sum())

Number of NaN records in column: 2091
Number of NaN records in column: 0

C:\Users\bwojt\AppData\Local\Temp\ipykernel_6428\3437919893.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Changed_Credit_Limit'] = df1['Changed_Credit_Limit'].fillna(method='pad')

In [24]:
print("Number of NaN records in column:", df1['Amount_invested_monthly'].isna().sum())
df1['Amount_invested_monthly'] = df1['Amount_invested_monthly'].fillna(method='pad')
print("Number of NaN records in column:", df1['Amount_invested_monthly'].isna().sum())

Number of NaN records in column: 4479
Number of NaN records in column: 0

C:\Users\bwojt\AppData\Local\Temp\ipykernel_6428\2640575162.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Amount_invested_monthly'] = df1['Amount_invested_monthly'].fillna(method='pad')

In [25]:
print("Number of NaN records in column:", df1['Monthly_Balance'].isna().sum())
df1['Monthly_Balance'] = df1['Monthly_Balance'].fillna(method='pad')
print("Number of NaN records in column:", df1['Monthly_Balance'].isna().sum())

Number of NaN records in column: 1200
Number of NaN records in column: 0

C:\Users\bwojt\AppData\Local\Temp\ipykernel_6428\941675688.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Monthly_Balance'] = df1['Monthly_Balance'].fillna(method='pad')

In [26]:
df1.columns

Index(['Month', 'Age', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [27]:
df1['Month'].describe()
df1['Age'].describe()

age_1st_percentile = df1['Age'].quantile(0.01)
print(age_1st_percentile)
age_99th_percentile = df1['Age'].quantile(0.972)
print(age_99th_percentile)
df1 = df1[(df1['Age'] >= age_1st_percentile) & (df1['Age'] <= age_99th_percentile)]
print(df1['Age'].describe())

14.0
56.0
count    97219.000000
mean        33.320009
std         10.769558
min         14.000000
25%         24.000000
50%         33.000000
75%         42.000000
max         56.000000
Name: Age, dtype: float64

In [28]:
df1['Annual_Income'].describe()
Annual_Income_1st_percentile = df1['Annual_Income'].quantile(0.01)
print(Annual_Income_1st_percentile)
Annual_Income_th_percentile = df1['Annual_Income'].quantile(0.98)
print(Annual_Income_th_percentile)
df1 = df1[(df1['Annual_Income'] >= Annual_Income_1st_percentile) & (df1['Annual_Income'] <= Annual_Income_th_percentile)]

7534.185
166837.64

In [29]:
print(df1['Monthly_Inhand_Salary'].describe())
Annual_Income_1st_percentile = df1['Monthly_Inhand_Salary'].quantile(0.01)
print(Annual_Income_1st_percentile)
Annual_Income_th_percentile = df1['Monthly_Inhand_Salary'].quantile(0.99)
print(Annual_Income_th_percentile)

count    94310.000000
mean      4130.621096
std       3029.799922
min        303.645417
25%       1643.700833
50%       3089.665000
75%       5906.740000
max      15066.783333
Name: Monthly_Inhand_Salary, dtype: float64
568.6737499999998
12547.563333333335

In [30]:
# Create a boolean mask to identify rows with symbols to remove in the specified column
symbols_to_remove = ['@']
mask = df1['Payment_Behaviour'].apply(lambda x: any(symbol in x for symbol in symbols_to_remove))
df1 = df1[~mask]

In [31]:
#zmienneKategoryczne
# stwórz obiekt enkodera
le = LabelEncoder()
df1.Occupation=le.fit_transform(df1.Occupation)

In [32]:
le = LabelEncoder()
df1.Month=le.fit_transform(df1.Month)

le = LabelEncoder()
df1.Credit_Mix=le.fit_transform(df1.Credit_Mix)

le = LabelEncoder()
df1.Payment_Behaviour=le.fit_transform(df1.Payment_Behaviour)

le = LabelEncoder()
df1.Credit_Score=le.fit_transform(df1.Credit_Score)

le = LabelEncoder()
df1.Type_of_Loan=le.fit_transform(df1.Type_of_Loan)

le = LabelEncoder()
df1.Payment_of_Min_Amount=le.fit_transform(df1.Payment_of_Min_Amount)

In [33]:
# sprawdź transformacje
df1.head(100)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,3,23.0,12,19114.120,1824.843333,3.0,4.0,3.0,4.0,128,...,2,809.98,26.822620,22 Years and 1 Months,1,49.574949,80.415295,2,312.494089,0
1,2,23.0,12,19114.120,1824.843333,3.0,4.0,3.0,4.0,128,...,1,809.98,31.944960,nan,1,49.574949,118.280222,3,284.629162,0
3,0,23.0,12,19114.120,1824.843333,3.0,4.0,3.0,4.0,128,...,1,809.98,31.377862,22 Years and 4 Months,1,49.574949,199.458074,5,223.451310,0
4,7,23.0,12,19114.120,1824.843333,3.0,4.0,3.0,4.0,128,...,1,809.98,24.797347,22 Years and 5 Months,1,49.574949,41.420153,1,341.489231,0
6,4,23.0,12,19114.120,1824.843333,3.0,4.0,3.0,4.0,128,...,1,809.98,22.537593,22 Years and 7 Months,1,49.574949,178.344067,5,244.565317,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,6,39.0,8,8701.545,519.128750,6.0,5.0,32.0,7.0,5298,...,2,2602.69,36.475914,9 Years and 1 Months,0,36.548197,45.650976,3,239.713702,1
107,0,39.0,8,8701.545,519.128750,6.0,5.0,32.0,7.0,5298,...,2,2602.69,32.097492,9 Years and 2 Months,2,36.548197,20.390184,5,284.974494,1
108,7,39.0,8,8701.545,519.128750,6.0,5.0,32.0,7.0,5298,...,2,2602.69,37.169374,9 Years and 3 Months,2,36.548197,50.486952,5,254.877726,1
109,5,39.0,8,8701.545,519.128750,6.0,5.0,32.0,7.0,5298,...,2,2602.69,28.570031,9 Years and 4 Months,2,36.548197,52.931613,4,242.433064,1
110,4,39.0,8,8701.545,519.128750,6.0,5.0,32.0,7.0,5298,...,2,2602.69,38.465415,nan,2,36.548197,30.471806,4,264.892872,1