<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Dudziak/05_03_2024_obr%C3%B3bka_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [41]:
df = pd.read_csv('train.csv')
df.drop_duplicates(inplace = True)

<ipython-input-41-71778933d1af>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [42]:
df = df.drop(columns=["ID", "Customer_ID", "Name", "SSN"])

In [43]:
df['Age'] = df['Age'].str.replace('_', '')
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Credit_Mix'] = df['Credit_Mix'].str.replace('_', '')

In [ ]:
df.dtypes

In [44]:
df[['Month', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Credit_Score']] = df[['Month', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Credit_Score']].astype('str')

In [45]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce').astype('float64')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce').astype('Int64')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce').astype('Int64')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce').astype('float64')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce').astype('float64')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce').astype('float64')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce').astype('float64')

In [ ]:
df.dtypes

In [ ]:
empty_counts = df.isna().sum()
empty_counts

In [ ]:
df.head()

In [47]:
df['Annual_Income'] = df['Annual_Income'].fillna(df['Annual_Income'].mean().round())
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(df['Monthly_Inhand_Salary'].mean().round())
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(df['Num_of_Delayed_Payment'].mean().round())
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(df['Changed_Credit_Limit'].mean().round())
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(df['Num_Credit_Inquiries'].mean().round())
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(df['Amount_invested_monthly'].mean().round())
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(df['Monthly_Balance'].mean().round())
df['Credit_History_Age'] = df['Credit_History_Age'].fillna(method='pad')

In [ ]:
df.head()

In [48]:
df.Month = le.fit_transform(df.Month)
df.Occupation = le.fit_transform(df.Occupation)
df.Credit_Mix = le.fit_transform(df.Credit_Mix)
df.Credit_Score = le.fit_transform(df.Credit_Score)
df.Payment_Behaviour = le.fit_transform(df.Payment_Behaviour)
df.Type_of_Loan = le.fit_transform(df.Type_of_Loan)
df.Credit_History_Age = le.fit_transform(df.Credit_History_Age)
df.Payment_of_Min_Amount = le.fit_transform(df.Payment_of_Min_Amount)

In [50]:
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,3,23,12,19114.12,1824.843333,3,4,3,4,128,...,0,809.98,26.822620,180,1,49.574949,80.415295,3,312.494089,0
1,2,23,12,19114.12,4194.000000,3,4,3,4,128,...,2,809.98,31.944960,180,1,49.574949,118.280222,4,284.629162,0
3,0,23,12,19114.12,4194.000000,3,4,3,4,128,...,2,809.98,31.377862,185,1,49.574949,199.458074,6,223.451310,0
4,7,23,12,19114.12,1824.843333,3,4,3,4,128,...,2,809.98,24.797347,186,1,49.574949,41.420153,2,341.489231,0
5,5,23,12,19114.12,4194.000000,3,4,3,4,128,...,2,809.98,27.262259,187,1,49.574949,62.430172,0,340.479212,0

In [49]:
df = df.drop(df[(df['Age'] <= 0) | (df['Age'] >= 120)].index)