In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
ratings = pd.read_csv('https://s3-us-west-2.amazonaws.com/recommender-tutorial/ratings.csv')

In [30]:
movies = pd.read_csv('https://s3-us-west-2.amazonaws.com/recommender-tutorial/movies.csv')

In [39]:
print(ratings.head())
print(movies.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [31]:
print('Liczba wszystkich ocen:', ratings.shape[0])
print('Liczba filmów w bazie:', movies.shape[0])
print('Liczba użytkowników:', ratings['userId'].nunique())
print('Średnia liczba ocen na użytkownika:', ratings.shape[0] / ratings['userId'].nunique())
print('Średnia liczba ocen na film:', ratings.shape[0] / movies.shape[0])
print('Rozkład ocen:')
print(ratings['rating'].value_counts())
print(ratings['rating'].describe())

Liczba wszystkich ocen: 100836
Liczba filmów w bazie: 9742
Liczba użytkowników: 610
Średnia liczba ocen na użytkownika: 165.30491803278687
Średnia liczba ocen na film: 10.350646684459043
Rozkład ocen:
rating
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64
count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [33]:
lista = ratings['movieId'].value_counts().sort_values(ascending=False)
print(lista.head(10))
print(movies[movies['movieId'] == 356].head(1))

movieId
356     329
318     317
296     307
593     279
2571    278
260     251
480     238
110     237
589     224
527     220
Name: count, dtype: int64
     movieId                title                    genres
314      356  Forrest Gump (1994)  Comedy|Drama|Romance|War

In [34]:
movie_titles = dict(zip(movies['movieId'],movies['title']))

In [48]:
movie_stats = ratings.groupby('movieId')[['rating']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()
C = movie_stats['count'].mean()
m = movie_stats['mean'].mean()

def bayesian_avg(ratings):
    bayesian_avg = (C*m+ratings.sum())/(C+ratings.count())
    return bayesian_avg

bayesian_avg_ratings = ratings.groupby('movieId')['rating'].agg(bayesian_avg).reset_index()
bayesian_avg_ratings.columns = ['movieId', 'bayesian_avg']
movie_stats = movie_stats.merge(bayesian_avg_ratings, on='movieId')

In [49]:
movie_stats = movie_stats.merge(movies[['movieId', 'title']])
movie_stats.sort_values('bayesian_avg', ascending=False).head()

,movieId,count,mean,bayesian_avg,title
277,318,317,4.429022,4.392070,"Shawshank Redemption, The (1994)"
659,858,192,4.289062,4.236457,"Godfather, The (1972)"
2224,2959,218,4.272936,4.227052,Fight Club (1999)
224,260,251,4.231076,4.192646,Star Wars: Episode IV - A New Hope (1977)
46,50,204,4.237745,4.190567,"Usual Suspects, The (1995)"

In [50]:
movie_stats.sort_values('bayesian_avg', ascending=True).head()

,movieId,count,mean,bayesian_avg,title
1172,1556,19,1.605263,2.190377,Speed 2: Cruise Control (1997)
2679,3593,19,1.657895,2.224426,Battlefield Earth (2000)
1372,1882,33,1.954545,2.267268,Godzilla (1998)
1144,1499,27,1.925926,2.296800,Anaconda (1997)
1988,2643,16,1.687500,2.306841,Superman IV: The Quest for Peace (1987)

In [51]:
from scipy.sparse import csr_matrix

def create_X(df):
    """
    Generates a sparse matrix from ratings dataframe.
    
    Args:
        df: pandas dataframe
    
    Returns:
        X: sparse matrix
        user_mapper: dict that maps user id's to user indices
        user_inv_mapper: dict that maps user indices to user id's
        movie_mapper: dict that maps movie id's to movie indices
        movie_inv_mapper: dict that maps movie indices to movie id's
    """
    N = df['userId'].nunique()
    M = df['movieId'].nunique()

    user_mapper = dict(zip(np.unique(df["userId"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["movieId"]), list(range(M))))
    
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["userId"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["movieId"])))
    
    user_index = [user_mapper[i] for i in df['userId']]
    movie_index = [movie_mapper[i] for i in df['movieId']]

    X = csr_matrix((df["rating"], (movie_index, user_index)), shape=(M, N))
    
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper

In [52]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_X(ratings)

In [53]:
sparsity = X.count_nonzero()/(X.shape[0]*X.shape[1])

print(f"Matrix sparsity: {round(sparsity*100,2)}%")

Matrix sparsity: 1.7%

In [54]:
from sklearn.neighbors import NearestNeighbors

def find_similar_movies(movie_id, X, k, metric='cosine', show_distance=False):
    """
    Finds k-nearest neighbours for a given movie id.
    
    Args:
        movie_id: id of the movie of interest
        X: user-item utility matrix
        k: number of similar movies to retrieve
        metric: distance metric for kNN calculations
    
    Returns:
        list of k similar movie ID's
    """
    neighbour_ids = []
    
    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    k+=1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    if isinstance(movie_vec, (np.ndarray)):
        movie_vec = movie_vec.reshape(1,-1)
    neighbour = kNN.kneighbors(movie_vec, return_distance=show_distance)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

In [57]:
movie_titles = dict(zip(movies['movieId'], movies['title']))

movie_id = 1
similar_ids = find_similar_movies(movie_id, X, k=100, metric="euclidean")

movie_title = movie_titles[movie_id]
print(f"Because you watched {movie_title}:")
for i in similar_ids:
    print(movie_titles[i])

Because you watched Toy Story (1995):
Toy Story 2 (1999)
Mission: Impossible (1996)
Independence Day (a.k.a. ID4) (1996)
Bug's Life, A (1998)
Nutty Professor, The (1996)
Willy Wonka & the Chocolate Factory (1971)
Babe (1995)
Groundhog Day (1993)
Mask, The (1994)
Honey, I Shrunk the Kids (1989)
Monsters, Inc. (2001)
Men in Black (a.k.a. MIB) (1997)
Indiana Jones and the Temple of Doom (1984)
Twister (1996)
Austin Powers: International Man of Mystery (1997)
Mrs. Doubtfire (1993)
Beauty and the Beast (1991)
Beetlejuice (1988)
Lion King, The (1994)
Little Mermaid, The (1989)
Ghostbusters (a.k.a. Ghost Busters) (1984)
Happy Gilmore (1996)
Toy Story 3 (2010)
Shrek 2 (2004)
When Harry Met Sally... (1989)
Big (1988)
Pinocchio (1940)
Star Wars: Episode I - The Phantom Menace (1999)
Lost World: Jurassic Park, The (1997)
Home Alone (1990)
Ferris Bueller's Day Off (1986)
Mary Poppins (1964)
Shrek (2001)
Armageddon (1998)
Mars Attacks! (1996)
Batman Forever (1995)
Truman Show, The (1998)
Jerry Maguire (1996)
Austin Powers: The Spy Who Shagged Me (1999)
Ace Ventura: Pet Detective (1994)
Space Jam (1996)
Aladdin (1992)
Incredibles, The (2004)
Dragonheart (1996)
Ace Ventura: When Nature Calls (1995)
Indiana Jones and the Last Crusade (1989)
Jungle Book, The (1967)
E.T. the Extra-Terrestrial (1982)
James and the Giant Peach (1996)
Lethal Weapon (1987)
Batman Returns (1992)
Wizard of Oz, The (1939)
RoboCop (1987)
Monty Python and the Holy Grail (1975)
Back to the Future Part III (1990)
Back to the Future (1985)
Star Trek: First Contact (1996)
Antz (1998)
Waterworld (1995)
Terminator, The (1984)
Hook (1991)
Die Hard 2 (1990)
101 Dalmatians (1996)
Splash (1984)
Finding Nemo (2003)
Star Wars: Episode III - Revenge of the Sith (2005)
Who Framed Roger Rabbit? (1988)
Jurassic Park (1993)
School of Rock (2003)
Bambi (1942)
Lady and the Tramp (1955)
Goonies, The (1985)
Peter Pan (1953)
Cable Guy, The (1996)
Liar Liar (1997)
Road to Perdition (2002)
Jumanji (1995)
Snow White and the Seven Dwarfs (1937)
Fish Called Wanda, A (1988)
Nightmare Before Christmas, The (1993)
Broken Arrow (1996)
X2: X-Men United (2003)
Chicken Run (2000)
Hunchback of Notre Dame, The (1996)
Ghostbusters II (1989)
Field of Dreams (1989)
Minority Report (2002)
Fifth Element, The (1997)
Spider-Man 2 (2004)
Truth About Cats & Dogs, The (1996)
Wedding Crashers (2005)
Rock, The (1996)
Galaxy Quest (1999)
Dave (1993)
Back to the Future Part II (1989)
Eraser (1996)
Zoolander (2001)
Transformers (2007)
Trading Places (1983)
Big Fish (2003)