<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/kaperob/BigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [5]:
!wget -q http://www.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz

In [6]:
!tar xf spark-3.5.1-bin-hadoop3.tgz

In [7]:
!pip install -q findspark==1.3.0

In [8]:
!pip install -q pyspark==3.5.1

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [10]:
import findspark
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
import pandas as pd

findspark.init("spark-3.5.1-bin-hadoop3")
sc = pyspark.SparkContext('local[*]')
spark = SparkSession.builder.appName('abc').getOrCreate()

In [11]:

from pyspark.sql.types import *
import pyspark.sql.functions as f

In [13]:
#zadanie 4
schema = StructType([
    StructField("Imie", StringType(), True),
    StructField("Nazwisko", StringType(), True),
    StructField("stawka godzinowa w dolarach", FloatType(), True),
    StructField("rok urodzenia", IntegerType(), True)
])

df = spark.read.csv("pracownicy.csv", header=True, schema=schema, sep=";")

In [14]:
average_hourly_rate_by_birth_year = df.groupBy("rok urodzenia").agg(f.avg("stawka godzinowa w dolarach").alias("średnia stawka godzinowa"))

average_hourly_rate_by_birth_year.show()

+-------------+------------------------+
|rok urodzenia|średnia stawka godzinowa|
+-------------+------------------------+
|         1955|                    67.0|
|         1944|                    78.0|
|         1965|                    57.0|
|         2020|                    12.6|
|         1999|                    23.0|
+-------------+------------------------+

In [15]:

df_with_avg_hourly_rate = df.join(average_hourly_rate_by_birth_year, "rok urodzenia", "left")

df_with_avg_hourly_rate.show()

+-------------+---------+---------+---------------------------+------------------------+
|rok urodzenia|     Imie| Nazwisko|stawka godzinowa w dolarach|średnia stawka godzinowa|
+-------------+---------+---------+---------------------------+------------------------+
|         1944|   Maciej| Kowalski|                       78.0|                    78.0|
|         1965|  Michael| Kowalski|                       57.0|                    57.0|
|         1999|      Ewa| Kowalska|                       23.0|                    23.0|
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
|         1955|     Bill|    Gates|                       67.0|                    67.0|
|         1999|     Jan | Kowalski|                       23.0|                    23.0|
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
|         1955|     Bill|    Gates|                       67.0|                    67.0|
|         1999|      Jan| Kowalski|                       23.0|                    23.0|
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         1955|    Steve|Stevniak |                       67.0|                    67.0|
|         1955|Magdalena|    Gates|                       67.0|                    67.0|
|         1944|     John|    Nowak|                       78.0|                    78.0|
|         1965|    Steve| Stevniak|                       57.0|                    57.0|
|         1999|     Bill|    Gates|                       23.0|                    23.0|
|         2020|      Jan| Kowalski|                       12.0|                    12.6|
|         1955|Michalina|    Nowak|                       67.0|                    67.0|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
+-------------+---------+---------+---------------------------+------------------------+
only showing top 20 rows

In [16]:
df_sorted = df_with_avg_hourly_rate.orderBy("rok urodzenia", ascending = False)
df_sorted.show()

+-------------+---------+---------+---------------------------+------------------------+
|rok urodzenia|     Imie| Nazwisko|stawka godzinowa w dolarach|średnia stawka godzinowa|
+-------------+---------+---------+---------------------------+------------------------+
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         2020|     John|    Nowak|                       12.0|                    12.6|
|         2020|      Jan| Kowalski|                       12.0|                    12.6|
|         2020|     John|    Nowak|                       15.0|                    12.6|
|         1999|      Ewa| Kowalska|                       23.0|                    23.0|
|         1999|     Jan | Kowalski|                       23.0|                    23.0|
|         1999|      Jan| Kowalski|                       23.0|                    23.0|
|         1999|     Bill|    Gates|                       23.0|                    23.0|
|         1999|      Jan| Kowalski|                       23.0|                    23.0|
|         1965|  Michael| Kowalski|                       57.0|                    57.0|
|         1965|    Steve| Stevniak|                       57.0|                    57.0|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
|         1955|     Bill|    Gates|                       67.0|                    67.0|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
|         1955|     Bill|    Gates|                       67.0|                    67.0|
|         1955|    Steve|Stevniak |                       67.0|                    67.0|
|         1955|Magdalena|    Gates|                       67.0|                    67.0|
|         1955|Michalina|    Nowak|                       67.0|                    67.0|
|         1955|    Steve| Stevniak|                       67.0|                    67.0|
+-------------+---------+---------+---------------------------+------------------------+
only showing top 20 rows

In [18]:
df_sorted.toPandas().to_csv('avg_salary_per_hour.csv', index = False)

In [19]:

!unzip pagecounts.zip

Archive:  pagecounts.zip
   creating: pagecounts/
  inflating: pagecounts/part-00001
  inflating: pagecounts/part-00053

In [20]:
!head pagecounts/part-00001

20090505-000000 aa Main_Page 2 9980
20090505-000000 ab %D0%90%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82 1 465
20090505-000000 ab %D0%98%D1%85%D0%B0%D0%B4%D0%BE%D1%83_%D0%B0%D0%B4%D0%B0%D2%9F%D1%8C%D0%B0 1 16086
20090505-000000 af.b Tuisblad 1 36236
20090505-000000 af.d Tuisblad 4 189738
20090505-000000 af.q Tuisblad 2 56143
20090505-000000 af Afrika 1 46833
20090505-000000 af Afrikaans 2 53577
20090505-000000 af Australi%C3%AB 1 132432
20090505-000000 af Barack_Obama 1 23368

In [21]:
!head pagecounts/part-00053

20090507-040000 aa Main_Page 7 51309
20090507-040000 ab %D0%90%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82 1 34069
20090507-040000 ab %D0%98%D1%85%D0%B0%D0%B4%D0%BE%D1%83_%D0%B0%D0%B4%D0%B0%D2%9F%D1%8C%D0%B0 3 65763
20090507-040000 af.b Tuisblad 1 36231
20090507-040000 af.d Tuisblad 1 58960
20090507-040000 af.q Tuisblad 1 44265
20090507-040000 af Afrikaans 3 80838
20090507-040000 af Australi%C3%AB 1 132433
20090507-040000 af Ensiklopedie 2 60584
20090507-040000 af Internet 1 48816

In [68]:
from pyspark.sql.functions import split
from pyspark.sql.functions import col, sum, substring

In [62]:
#zadanie 5 DF
df = spark.read.text("pagecounts/*")

In [65]:
# Split the lines by space and create separate columns
split_df = df.withColumn("value", split(df.value, ' '))

# Select individual columns from the split values
columns = [split_df['value'][i].alias(f"col{i+1}") for i in range(len(split_df.select("value").first()[0]))]
df_split = split_df.select(*columns)

In [66]:
df_split.show()

+---------------+----+--------------------+----+------+
|           col1|col2|                col3|col4|  col5|
+---------------+----+--------------------+----+------+
|20090505-000000|  aa|           Main_Page|   2|  9980|
|20090505-000000|  ab|%D0%90%D0%B8%D0%B...|   1|   465|
|20090505-000000|  ab|%D0%98%D1%85%D0%B...|   1| 16086|
|20090505-000000|af.b|            Tuisblad|   1| 36236|
|20090505-000000|af.d|            Tuisblad|   4|189738|
|20090505-000000|af.q|            Tuisblad|   2| 56143|
|20090505-000000|  af|              Afrika|   1| 46833|
|20090505-000000|  af|           Afrikaans|   2| 53577|
|20090505-000000|  af|      Australi%C3%AB|   1|132432|
|20090505-000000|  af|        Barack_Obama|   1| 23368|
|20090505-000000|  af|           Duitsland|   2| 91024|
|20090505-000000|  af|        Johannesburg|   1| 17488|
|20090505-000000|  af|Special:RecentCha...|   1|  1174|
|20090505-000000|  af|Spesiaal:Onlangse...|   3|101681|
|20090505-000000|  af|Spesiaal:RecentCh...|   2|  2248|
|20090505-000000|  af|         Suid-Afrika|   1| 30698|
|20090505-000000|  af|            Tuisblad|  14|155257|
|20090505-000000|  af|           Varkgriep|   4| 42236|
|20090505-000000|  af|           Wikipedia|   2| 32796|
|20090505-000000|  af|Wikipedia:Gebruik...|   2| 24062|
+---------------+----+--------------------+----+------+
only showing top 20 rows

In [69]:
filtered_df = df_split.filter(col("col2") == 'en')

In [70]:
filtered_df = filtered_df.withColumn("day", substring(col("col1"), 1, 8))

In [73]:
filtered_df = filtered_df.withColumn("col5", col("col5").cast(LongType()))

In [76]:
filtered_df.show()

+---------------+----+--------------------+----+------+--------+
|           col1|col2|                col3|col4|  col5|     day|
+---------------+----+--------------------+----+------+--------+
|20090505-000000|  en|                   !|   4|170494|20090505|
|20090505-000000|  en|                 !!!|  21|306957|20090505|
|20090505-000000|  en|      !!!Fuck_You!!!|   9| 87025|20090505|
|20090505-000000|  en|!!!Fuck_You!!!_an...|   2| 17960|20090505|
|20090505-000000|  en|         !!!_(album)|   4| 16665|20090505|
|20090505-000000|  en|        !Kung_people|   8| 75641|20090505|
|20090505-000000|  en|          !T.O.O.H.!|   2| 34121|20090505|
|20090505-000000|  en|          !important| 161|987385|20090505|
|20090505-000000|  en|                   $|   2| 46050|20090505|
|20090505-000000|  en|                  $1|  11| 54820|20090505|
|20090505-000000|  en|  $100,000_Challenge|   5| 22202|20090505|
|20090505-000000|  en|     $25,000_Pyramid|  17|483855|20090505|
|20090505-000000|  en|               $9.99|   1|  9508|20090505|
|20090505-000000|  en|         $pringfield|   4| 54550|20090505|
|20090505-000000|  en|$pringfield_(Or,_...|   4|119887|20090505|
|20090505-000000|  en|       %20%28band%29|  52| 56606|20090505|
|20090505-000000|  en|           %20(band)|  11| 12073|20090505|
|20090505-000000|  en|                 %22|   8|212708|20090505|
|20090505-000000|  en|        %22-cides%22|  43|371862|20090505|
|20090505-000000|  en|%22Big%22_Jim_Martin|   2| 29802|20090505|
+---------------+----+--------------------+----+------+--------+
only showing top 20 rows

In [74]:
result_df = filtered_df.groupBy("day").agg(sum(col("col5")).alias("total_views"))

In [75]:
result_df.show()

+--------+------------+
|     day| total_views|
+--------+------------+
|20090505|164579353011|
|20090507|144784324959|
+--------+------------+

In [77]:
#zadanie 5 RDD
rdd = sc.textFile("pagecounts/*")

In [78]:
split_rdd = rdd.map(lambda line: line.split(' '))

In [79]:
filtered_rdd = split_rdd.filter(lambda cols: cols[1] == 'en')

In [81]:
result_rdd = mapped_rdd.reduceByKey(lambda x, y: x + y)

In [82]:
result = result_rdd.collect()

In [83]:
for day, total_views in result:
    print(f"Day: {day}, Total Views: {total_views}")

Day: 20090505, Total Views: 164579353011
Day: 20090507, Total Views: 144784324959