<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Grabowski/cw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [12]:
#zaczytaj dane z pliku csv
df_train = pd.read_csv("/content/sample_data/train.csv", sep = "," , encoding= 'utf-8')

#wyświetl część tabeli
df_train.head()
#usuń wiersze z duplikatami id
df_train.drop_duplicates(subset="ID", inplace=True)
df = df_train

<ipython-input-12-c8af7b87c58e>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv("/content/sample_data/train.csv", sep = "," , encoding= 'utf-8')

In [ ]:
#opisz statystyki danych
df.describe()
#zlicz różne wartości danych
for i in df.columns:
  print(df[i].value_counts())
print('*'*50)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 22.1+ MB

In [18]:
#zmień dane na numeryczne
FeaturesToConvert = ['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']
# ale najpierw sprawdź czy nie ma błędów w danych
for feature in FeaturesToConvert:
  uniques = df[feature].unique()
# usuń zbędne znaki '-’ , '_'
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.strip('-_')
# puste kolumny zastąp NAN
for feature in FeaturesToConvert:
  df[feature] = df[feature].replace({'':np.nan})
# zmien typ zmiennych ilościowych
for feature in FeaturesToConvert:
  df[feature] = df[feature].astype('float64')

In [19]:
df['Monthly_Inhand_Salary']= df['Monthly_Inhand_Salary'].fillna(method='pad')

In [22]:
df.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN'], inplace=True)

In [23]:
print(df.dtypes)

Month                        object
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [24]:
age_summary = df['Age'].describe()

print(age_summary)

count    100000.000000
mean        119.509700
std         684.757313
min          14.000000
25%          25.000000
50%          34.000000
75%          42.000000
max        8698.000000
Name: Age, dtype: float64

In [25]:
negative_age_rows = df[df['Age'] >99 ]

print(negative_age_rows)

          Month     Age     Occupation  Annual_Income  Monthly_Inhand_Salary  \
2         March   500.0      Scientist       19114.12            1824.843333
56      January  7580.0  Media_Manager       34081.38           10469.207759
113    February   500.0   Entrepreneur       25546.26            2415.855000
122       March   181.0      Scientist       31993.78            2942.148333
219       April   995.0     Accountant       43070.24            3622.186667
...         ...     ...            ...            ...                    ...
99913  February  2263.0  Media_Manager       20059.98            1523.665000
99937  February   500.0        _______       22620.79            1722.065833
99950      July  1342.0  Media_Manager       59146.36            4908.863333
99963     April   500.0         Lawyer       42903.79            3468.315833
99972       May  1753.0  Media_Manager       16680.35            1528.029167

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Num_of_Loan  \
2                      3                4              3          4.0
56                     8                7             15          3.0
113                    8                7             14          5.0
122                    6                6              7          2.0
219                    3                3             18          1.0
...                  ...              ...            ...          ...
99913                  8                5             12          4.0
99937                  7                3              9          0.0
99950                  3                6              6          1.0
99963                  0                4              6          1.0
99972                  1                1              5          4.0

                                            Type_of_Loan  ...  Credit_Mix  \
2      Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
56            Not Specified, Auto Loan, and Student Loan  ...    Standard
113    Not Specified, Student Loan, Student Loan, Cre...  ...    Standard
122                    Payday Loan, and Home Equity Loan  ...    Standard
219                              Debt Consolidation Loan  ...    Standard
...                                                  ...  ...         ...
99913  Home Equity Loan, Payday Loan, Not Specified, ...  ...        Good
99937                                                NaN  ...    Standard
99950                                      Personal Loan  ...           _
99963                                      Not Specified  ...        Good
99972  Payday Loan, Student Loan, Mortgage Loan, and ...  ...        Good

       Outstanding_Debt  Credit_Utilization_Ratio     Credit_History_Age  \
2                809.98                 28.609352  22 Years and 3 Months
56              1704.18                 24.448063                    NaN
113              758.44                 29.711376  18 Years and 3 Months
122              818.22                 27.380109  17 Years and 0 Months
219             1233.10                 24.331772  19 Years and 5 Months
...                 ...                       ...                    ...
99913            909.01                 25.982154  16 Years and 4 Months
99937            642.46                 31.841872                    NaN
99950            418.03                 38.199635  20 Years and 7 Months
99963           1079.48                 30.625298                    NaN
99972            897.16                 37.788217  21 Years and 5 Months

      Payment_of_Min_Amount  Total_EMI_per_month  Amount_invested_monthly  \
2                        No            49.574949                81.699521
56                       NM            70.478333               162.441009
113                     Yes           101.328637               300.323232
122                     Yes            45.141298               264.257089
219                     Yes            30.576085                74.920375
...                     ...                  ...                      ...
99913                    No            45.076827                74.713580
99937                    No             0.000000               105.076293
99950                    No            26.778419               502.376320
99963                    No            34.975457                31.193919
99972                    No            41.113561                64.549748

                      Payment_Behaviour Monthly_Balance  Credit_Score
2       Low_spent_Medium_value_payments      331.209863          Good
56       Low_spent_Large_value_payments      298.192158          Poor
113      Low_spent_Small_value_payments      129.933631      Standard
122      Low_spent_Small_value_payments      274.816447      Standard
219    High_spent_Medium_value_payments      506.722207      Standard
...                                 ...             ...           ...
99913   High_spent_Small_value_payments             NaN          Poor
99937    Low_spent_Large_value_payments             NaN      Standard
99950    Low_spent_Small_value_payments             NaN      Standard
99963   High_spent_Large_value_payments             NaN      Standard
99972    Low_spent_Large_value_payments             NaN      Standard

[2777 rows x 24 columns]