In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [3]:
#zaczytaj dane z pliku csv
trainDataFrame = pd.read_csv('SalaryData.csv', sep=",")
#sprawdź liczbę kolumn i wierszy
trainDataFrame.shape
trainDataFrame.info()
#wyświetl część tabeli
trainDataFrame.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [4]:
trainDataFrame = trainDataFrame.dropna()
education_mapping = {'Bachelor\'s': 1, 'Master\'s': 2, 'PhD': 3}
trainDataFrame['Education Level'] = trainDataFrame['Education Level'].replace(education_mapping)

C:\Users\marci\AppData\Local\Temp\ipykernel_9364\4003109484.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  trainDataFrame['Education Level'] = trainDataFrame['Education Level'].replace(education_mapping)

In [5]:
# stwórz obiekt enkodera
le = LabelEncoder()
for column in trainDataFrame.columns:
    if pd.api.types.is_object_dtype(trainDataFrame[column]):
        trainDataFrame[column] = le.fit_transform(trainDataFrame[column])
# sprawdź transformacje
trainDataFrame.head()

    Age  Gender  Education Level  Job Title  Years of Experience    Salary
0  32.0       1                1        159                  5.0   90000.0
1  28.0       0                2         17                  3.0   65000.0
2  45.0       1                3        130                 15.0  150000.0
3  36.0       0                1        101                  7.0   60000.0
4  52.0       1                2         22                 20.0  200000.0

In [6]:
train_df, test_df = train_test_split(trainDataFrame, test_size=0.3, random_state=42)
# Use mean as the imputation strategy
imputer = SimpleImputer(strategy='mean')
# Fit on the training data
imputer.fit(train_df)
# Transform both training and testing data
train_df = pd.DataFrame(imputer.transform(train_df), columns=train_df.columns)

In [7]:
model = LinearRegression().fit(train_df, train_df['Salary'])
prediction = model.predict(test_df)

In [8]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

mae = mean_absolute_error(test_df['Salary'], prediction)
mse = mean_squared_error(test_df['Salary'], prediction)
rmse = np.sqrt(mse)
r2 = r2_score(test_df['Salary'], prediction)

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"RMSE: {rmse}")
print(f"R2 Score: {r2}")

MAE: 2.1499500592524002e-11
MSE: 7.632158540013969e-22
RMSE: 2.762636157733039e-11
R2 Score: 1.0