<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Kwasniewska/PUM_Czyszczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [421]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [422]:
df = pd.read_csv('train.csv')
df.head()

<ipython-input-422-04d00b4537ee>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [423]:
df.shape

(100000, 28)

In [424]:
df.drop_duplicates(inplace = True)

In [425]:
df = df.drop(["ID", "Customer_ID", "Name", "SSN"], axis=1)

In [426]:
df.dtypes

Month                        object
Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [427]:
lista = ["Age","Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt", "Amount_invested_monthly", "Monthly_Balance"]
for i in lista:
  df[i] = df[i].astype(str)
  df[i] = df[i].str.replace("_", "")

In [428]:
df[["Age","Annual_Income","Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt", "Amount_invested_monthly", "Monthly_Balance"]] = df[["Age","Annual_Income", "Num_of_Loan", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Outstanding_Debt", "Amount_invested_monthly", "Monthly_Balance"]].apply(pd.to_numeric, errors='coerce')

In [429]:
df.dtypes

Month                        object
Age                           int64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [430]:
df["Month"].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

In [431]:
df["Age"].mean()
df["Age"].max()
mean_Age = df.loc[(df['Age'] > 0) & (df['Age'] < 105), "Age"].mean()
df.loc[(df["Age"] < 0) | (df["Age"] >100), "Age"] = mean_Age
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.00000,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,33.32398,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.00000,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [432]:
df["Occupation"].unique()
mode_Occupation = df.loc[df["Occupation"] != "_______", "Occupation"].mode().values[0]
df.loc[df["Occupation"] == "_______", "Occupation"] = mode_Occupation
df.head(10)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.00000,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,33.32398,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.00000,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,June,23.00000,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,July,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,August,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,23.933795,NaN,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,January,28.00000,Lawyer,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,February,28.00000,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good

In [433]:
df["Annual_Income"].min()

7005.93

In [434]:
df["Monthly_Inhand_Salary"].min()
df["Monthly_Inhand_Salary"].max()
df["Monthly_Inhand_Salary"].isna().sum()
df.loc[df["Monthly_Inhand_Salary"].isna(), "Monthly_Inhand_Salary"] = df["Monthly_Inhand_Salary"].mean()
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.00000,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,33.32398,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.00000,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.00000,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [435]:
df["Num_Bank_Accounts"].isna().sum()
df.loc[df["Num_Bank_Accounts"] < 0, "Num_Bank_Accounts"].count()
df.drop(df[df["Num_Bank_Accounts"] < 0].index, inplace = True)
df.loc[df["Num_Bank_Accounts"] > 10, "Num_Bank_Accounts"].count()
df.drop(df[df["Num_Bank_Accounts"] > 10].index, inplace = True)

In [436]:
df["Num_Credit_Card"].isna().sum()
df.loc[df["Num_Credit_Card"] < 0, "Num_Credit_Card"].count()
df["Num_Credit_Card"].max()
df.loc[df["Num_Credit_Card"] > 10, "Num_Credit_Card"].count()
df.drop(df[df["Num_Credit_Card"] > 10].index, inplace = True)

In [437]:
df["Interest_Rate"].isna().sum()
df["Interest_Rate"].max()
df.loc[df["Interest_Rate"] > 100, "Interest_Rate"].count()
df.drop(df[df["Interest_Rate"] > 100].index, inplace = True)

In [438]:
df["Num_of_Loan"].isna().sum()
df["Num_of_Loan"].describe()
df.drop(df[(df["Num_of_Loan"] <0) | (df["Num_of_Loan"] >10)].index, inplace = True)

In [439]:
df["Type_of_Loan"].isna().sum()
df.groupby(df["Type_of_Loan"])["Type_of_Loan"].count().sort_values(ascending = False)
mode_Type_of_Loan = df["Type_of_Loan"].mode().values[0]
df.loc[df["Type_of_Loan"].isna(), "Type_of_Loan"] = mode_Type_of_Loan

In [440]:
df["Delay_from_due_date"].describe()
df["Delay_from_due_date"].isna().sum()
df.loc[df["Delay_from_due_date"] < 0, "Delay_from_due_date"].count()
df.drop(df[df["Delay_from_due_date"] <0].index, inplace = True)

In [441]:
df["Num_of_Delayed_Payment"].isna().sum()
df["Num_of_Delayed_Payment"].describe()
df["Num_of_Delayed_Payment"].median()
df.loc[df["Num_of_Delayed_Payment"].isna(), "Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].median()
df.drop(df[(df["Num_of_Delayed_Payment"] <0) | (df["Num_of_Delayed_Payment"] >30)].index, inplace = True)
df["Num_of_Delayed_Payment"].describe()

count    88567.000000
mean        13.497431
std          5.971238
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max         28.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [442]:
df["Changed_Credit_Limit"].describe()
df.loc[df["Changed_Credit_Limit"]<0, "Changed_Credit_Limit"].count()
df.drop(df[df["Changed_Credit_Limit"] <0].index, inplace = True)
df["Changed_Credit_Limit"].isna().sum()
df.loc[df["Changed_Credit_Limit"].isna(), "Changed_Credit_Limit"] = df["Changed_Credit_Limit"].median()

In [443]:
df.loc[df["Num_Credit_Inquiries"]<0, "Num_Credit_Inquiries"].count()
df["Num_Credit_Inquiries"].describe()
df.loc[df["Num_Credit_Inquiries"] > 15, "Num_Credit_Inquiries"].count()
df.drop(df[df["Num_Credit_Inquiries"] > 15].index, inplace = True)
df["Num_Credit_Inquiries"].describe()
df.loc[df["Num_Credit_Inquiries"].isna(), "Num_Credit_Inquiries"] = df["Num_Credit_Inquiries"].median()

In [444]:
df["Credit_Mix"].unique()
df.groupby(df["Credit_Mix"])["Credit_Mix"].count()
mode_Credit_Mix = df["Credit_Mix"].mode().values[0]
df.loc[df["Credit_Mix"] == "_", "Credit_Mix"] = mode_Credit_Mix
df.groupby(df["Credit_Mix"])["Credit_Mix"].count()

Credit_Mix
Bad         16175
Good        19991
Standard    48916
Name: Credit_Mix, dtype: int64

In [445]:
df["Outstanding_Debt"].describe()
df["Outstanding_Debt"].isna().sum()

0

In [446]:
df["Credit_Utilization_Ratio"].describe()
df["Credit_Utilization_Ratio"].isna().sum()

0

In [447]:
df["Credit_History_Age"].unique()
df["Credit_History_Age"].isna().sum()
df.groupby(df["Credit_History_Age"])["Credit_History_Age"].count().sort_values(ascending = False)
mode_Credit_History_Age = df["Credit_History_Age"].mode().values[0]
df.loc[df["Credit_History_Age"].isna(), "Credit_History_Age"] = mode_Credit_History_Age

In [448]:
df["Payment_of_Min_Amount"].unique()
df.groupby(df["Payment_of_Min_Amount"])["Payment_of_Min_Amount"].count().sort_values(ascending = False)

Payment_of_Min_Amount
Yes    45256
No     29626
NM     10200
Name: Payment_of_Min_Amount, dtype: int64

In [449]:
df["Total_EMI_per_month"].describe()
df["Total_EMI_per_month"].isna().sum()

0

In [450]:
df["Amount_invested_monthly"].describe()
df["Amount_invested_monthly"].isna().sum()
df.loc[df["Amount_invested_monthly"].isna(), "Amount_invested_monthly"] = df["Amount_invested_monthly"].median()

In [451]:
df["Payment_Behaviour"].unique()
df["Payment_Behaviour"].isna().sum()
df.groupby(df["Payment_Behaviour"])["Payment_Behaviour"].count().sort_values(ascending = False)
mode_Payment_Behaviour = df["Payment_Behaviour"].mode().values[0]
df.loc[df["Payment_Behaviour"] == "!@9#%8", "Payment_Behaviour"] = mode_Payment_Behaviour
df.groupby(df["Payment_Behaviour"])["Payment_Behaviour"].count().sort_values(ascending = False)

Payment_Behaviour
Low_spent_Small_value_payments      28136
High_spent_Medium_value_payments    14930
Low_spent_Medium_value_payments     11807
High_spent_Large_value_payments     11639
High_spent_Small_value_payments      9694
Low_spent_Large_value_payments       8876
Name: Payment_Behaviour, dtype: int64

In [452]:
df["Monthly_Balance"].describe()
df.loc[df["Monthly_Balance"] <0 ,"Monthly_Balance"].count()
df.drop(df[df["Monthly_Balance"] < 0 ].index, inplace = True)
df["Monthly_Balance"].describe()
df["Monthly_Balance"].isna().sum()
df.loc[df["Monthly_Balance"].isna(), "Monthly_Balance"] = df["Monthly_Balance"].median()

In [453]:
df["Credit_Score"].unique()
df["Credit_Score"].isna().sum()

0

In [456]:
le = LabelEncoder()
cols = ["Month", "Occupation", "Type_of_Loan", "Credit_Mix", "Payment_of_Min_Amount", "Payment_Behaviour", "Credit_Score"]
df[cols] = df[cols].apply(LabelEncoder().fit_transform)
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,3,23.00000,12,19114.12,1824.843333,3,4,3,4,128,...,2,809.98,26.822620,22 Years and 1 Months,1,49.574949,80.415295,2,312.494089,0
2,6,33.32398,12,19114.12,4194.170850,3,4,3,4,128,...,1,809.98,28.609352,22 Years and 3 Months,1,49.574949,81.699521,4,331.209863,0
3,0,23.00000,12,19114.12,4194.170850,3,4,3,4,128,...,1,809.98,31.377862,22 Years and 4 Months,1,49.574949,199.458074,5,223.451310,0
4,7,23.00000,12,19114.12,1824.843333,3,4,3,4,128,...,1,809.98,24.797347,22 Years and 5 Months,1,49.574949,41.420153,1,341.489231,0
5,5,23.00000,12,19114.12,4194.170850,3,4,3,4,128,...,1,809.98,27.262259,22 Years and 6 Months,1,49.574949,62.430172,5,340.479212,0

In [460]:
#df["Credit_History_Age"].unique()
#lista = df[["Credit_History_Age"]].split(" ")

AttributeError: 'DataFrame' object has no attribute 'split'