<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Lewandowski/Salary_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import r2_score
df = pd.read_csv(r'Salary Data.csv')
df.head(7)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0

In [30]:
le = LabelEncoder()

columns_for_normalization = ['Gender', 'Education Level', 'Job Title']

for column in columns_for_normalization:
  df[column] = le.fit_transform(df[column])

# Sprawdzenie czy wszystko się zakodowało poprawnie

df.shape

(375, 6)

In [31]:
# podział danych na zbiór uczący się (70%) i testowy (30%)

train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

# Wyświetlenie rozmiarów zbiorów
print("Rozmiar zbioru uczącego:", len(train_df))
print("Rozmiar zbioru testowego:", len(test_df))

Rozmiar zbioru uczącego: 262
Rozmiar zbioru testowego: 113

In [32]:
X = train_df[['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience']]
Y = train_df['Salary']
x = test_df[['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience']]
y = test_df['Salary']


print(X.isna().sum())

Age                    1
Gender                 0
Education Level        0
Job Title              0
Years of Experience    1
dtype: int64

In [33]:
print(Y.isna().sum())

1

In [34]:
X.dropna(inplace=True)
Y.dropna(inplace = True)
x.dropna(inplace=True)
y.dropna(inplace = True)

<ipython-input-34-ed24e7aa2d34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.dropna(inplace=True)
<ipython-input-34-ed24e7aa2d34>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.dropna(inplace=True)

In [35]:
# Przeprowadzenie regresji liniowej na danych uczących X i etykietach Y
reg = LinearRegression().fit(X, Y)
# Obliczenie współczynnika determinacji (R^2) dla przewidywanych wartościach
reg.score(X, Y)

0.9040128063195576

In [36]:
# Zwrócenie współczynnika regresji
reg.coef_

array([ 3167.49320076,  7044.63269168, 15344.52678738,    31.09155926,
        2500.08278263])

In [37]:
x

      Age  Gender  Education Level  Job Title  Years of Experience
167  46.0       1                2        147                 18.0
33   39.0       0                0         84                 10.0
15   44.0       1                0         89                 16.0
316  34.0       0                1        117                  6.0
57   43.0       1                2        116                 17.0
..    ...     ...              ...        ...                  ...
305  36.0       1                0        110                  8.0
244  34.0       0                0         62                  6.0
272  37.0       1                0        118                  8.0
173  43.0       1                0        144                 16.0
351  31.0       1                0         63                  3.0

[112 rows x 5 columns]

In [38]:
y

167    150000.0
33      65000.0
15     125000.0
316     80000.0
57     140000.0
         ...
305     95000.0
244     70000.0
272     90000.0
173    140000.0
351     55000.0
Name: Salary, Length: 112, dtype: float64

In [39]:
# Przewidywanie wartości wynagrodzenia (Salary) na podstawie danych testowych
y_pred = reg.predict(x)
print(y_pred)

[174823.68045187  92958.11128544 130996.16447304  83490.8623942
 161857.27972979 188188.69596819 157956.98768171 104449.5168395
  56602.57082588 100617.95658143 142204.47077356 159769.32621969
  50406.438335    88622.01277749  62363.42148706 162493.59858865
  67661.74460343  48668.91730018  78312.88226641  97988.04798884
 129576.34726253 107320.58212121 165163.62684119  60893.09010098
  87711.32945816  48828.34459755 179167.07742846 158027.83568381
 148839.044411    42884.79042492 126099.25889027  54025.81725113
 152793.42531802  90521.0074123   17843.4193345  184496.4921041
  50250.98053868  37860.83176903  58511.9139825   43797.08747301
  87085.76833203 169921.2693024  164645.41885553  43014.33891852
 156537.1704712  123907.04164709  52965.93149934  48233.87503068
  35814.24843052 101588.41349957  79973.49294893  76749.27620254
 103146.72140361 163853.64220035  64909.08350254 188535.86938537
  76483.93984275  46639.17740755  85319.80481786 118646.70598731
 138489.40765993 160505.05921691  62718.1866805   40847.2351871
  47709.16436734  56384.92991103 127239.66127832  43797.08747301
  31341.02564398  70979.12012432 103285.57531425 155448.96589697
 153695.08053667  86339.5709097   78437.24850347  94040.85628677
  40411.95335741  67906.6312334   81766.33896111 143401.18749632
  85920.89296569  60284.13286053  83982.86776952 108688.2015179
 109227.51575812  89679.12579246  89156.02885788 132830.5664696
 131424.82772176  63842.94238689 177134.68845592 192417.03212477
  39690.46847358 126580.11995281  91562.83696272 123692.45078543
 136686.89301359 120276.22511056 127721.20222853  48855.46665576
  59676.78934884  49340.29721935  46051.08686145  44071.45193349
  56602.57082588 154987.48145694  76749.27620254  86308.47935044
  66436.29984732  89724.70502531 129538.70703178  56509.29614809]

In [40]:
# Średni błąd bewzględny między wartościami y a y_pred
mean_absolute_error(y, y_pred)

10839.418441719736

In [41]:
# Mediana błędu bezwględnego
median_absolute_error(y, y_pred)

7275.8602903453575

In [48]:
# Tworzenie i dopasowanie modelu
huber = HuberRegressor().fit(X, Y)

# Obliczenie współczynnika determinacji
r2 = r2_score(Y, huber.predict(X))

print("Współczynnik determinacji:", r2)

Współczynnik determinacji: 0.9003350251839539

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_huber.py:342: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [44]:
# Przewidywanie wartości wynagrodzenia na podstawie danych testowych
y_pred_huber = huber.predict(x)

In [45]:
# Mediana błędów bewzględnych
median_absolute_error(y, y_pred_huber)

7069.631943556444