<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/eichler/SalaryZadanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('/content/Salary_Data.csv', sep=',')

df.head()

(375, 6)

In [15]:
df.shape

(375, 6)

In [ ]:
df.drop_duplicates()

In [23]:
czy_puste_wartosci_w_kolumnach = df.isnull().any()
print(czy_puste_wartosci_w_kolumnach)
df.dtypes

Age                    False
Gender                 False
Education Level        False
Job Title              False
Years of Experience    False
Salary                 False
dtype: bool

Age                      Int64
Gender                  string
Education Level         string
Job Title               string
Years of Experience    float64
Salary                 float64
dtype: object

In [17]:
df.dropna(inplace=True)

In [18]:
df.shape

(373, 6)

In [22]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Gender'] = df['Gender'].astype('string')
df['Education Level'] = df['Education Level'].astype('string')
df['Job Title'] = df['Job Title'].astype('string')

In [26]:
enc = OrdinalEncoder(categories=[["Bachelor\'s", "Master\'s", "PhD"]])
df['Education Level'] = enc.fit_transform(df[['Education Level']])

In [27]:
le = LabelEncoder()
df.Gender = le.fit_transform(df.Gender)
df['Job Title'] = le.fit_transform(df['Job Title'])

In [33]:
df.dropna(subset=['Education Level'], inplace=True)
df = df.replace([np.inf, -np.inf], np.nan).dropna(subset=['Education Level'], how="all")

In [34]:
education_mapping = {
    "Bachleor's": 1,
    "Master's": 2,
    "PhD": 3
}
df['Education Level'] = df['Education Level'].map(education_mapping).astype('int32')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
X = df.drop(columns=['Salary'])
y = df['Salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("Rozmiar zbioru treningowego:", len(X_train))
print("Rozmiar zbioru testowego:", len(X_test))

In [ ]:
model = LinearRegression()

model.fit(X_train, y_train)

y_predicted = model.predict(X_test)

mae = mean_absolute_error(y_test, y_predicted)
print("Błąd średni absolutny:", mae)

In [ ]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test, y_predicted)