<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Pietruszkiewicz/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv("train.csv")
# df.head(100)

<ipython-input-147-d640984135cf>:8: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [148]:
df.shape

(100000, 28)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [150]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [151]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of             ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard
99999          393.673696         Poor

[100000 rows x 28 columns]>

In [152]:
df['ID'] = df['ID'].astype(str)
df['Customer_ID'] = df['Customer_ID'].astype(str)
df['Month'] = df['Month'].astype(str)
df['Name'] = df['Name'].astype(str)

df['Age'] = df['Age'].astype(str)
df['Age'] = df['Age'].str.replace('_', '')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].fillna(method = 'pad').astype(int)

df['SSN'] = df['SSN'].astype(str)
df['Occupation'] = df['Occupation'].astype(str)

df['Annual_Income'] = df['Annual_Income'].astype(str)
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')
df['Annual_Income'] = df['Annual_Income'].fillna(method = 'pad').astype(float)

df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(str)
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].str.replace('_', '')
df['Monthly_Inhand_Salary'] = pd.to_numeric(df['Monthly_Inhand_Salary'], errors='coerce')
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method = 'pad').astype(float)

df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].str.replace('_', '')
df['Num_Bank_Accounts'] = pd.to_numeric(df['Num_Bank_Accounts'], errors='coerce')
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(method = 'pad').astype(int)

df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(str)
df['Num_Credit_Card'] = df['Num_Credit_Card'].str.replace('_', '')
df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(int)

df['Interest_Rate'] = df['Interest_Rate'].astype(str)
df['Interest_Rate'] = df['Interest_Rate'].str.replace('_', '')
df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')
df['Interest_Rate'] = df['Interest_Rate'].fillna(method = 'pad').astype(float)

df['Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce')
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(method = 'pad').astype(int)

df['Type_of_Loan'] = df['Type_of_Loan'].astype(str)

df['Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['Delay_from_due_date'] = df['Delay_from_due_date'].str.replace('_', '')
df['Delay_from_due_date'] = pd.to_numeric(df['Delay_from_due_date'], errors='coerce')
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(method = 'pad').astype(int)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(method = 'pad').astype(int)

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(method = 'pad').astype(float)


df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].astype(str)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].str.replace('_', '')
df['Num_Credit_Inquiries'] = pd.to_numeric(df['Num_Credit_Inquiries'], errors='coerce')
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(method = 'pad').astype(float)

df['Credit_Mix'] = df['Credit_Mix'].astype(str)

df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce')
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(method = 'pad').astype(float)

df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].astype(str)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].str.replace('_', '')
df['Credit_Utilization_Ratio'] = pd.to_numeric(df['Credit_Utilization_Ratio'], errors='coerce')
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(method = 'pad').astype(float)

df['Credit_History_Age'] = df['Credit_History_Age'].astype(str)
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)

df['Total_EMI_per_month'] = df['Total_EMI_per_month'].astype(str)
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].str.replace('_', '')
df['Total_EMI_per_month'] = pd.to_numeric(df['Total_EMI_per_month'], errors='coerce')
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method = 'pad').astype(float)

df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].str.replace('_', '')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method = 'pad').astype(float)

df['Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)

df['Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['Monthly_Balance'] = df['Monthly_Balance'].str.replace('_', '')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method = 'pad').astype(float)

df['Credit_Score'] = df['Credit_Score'].astype(str)

In [153]:
def convert_to_months(age_str):
    if pd.isna(age_str):
        return None
    else:
        parts = age_str.split(' Years and ')
        if len(parts) == 2:
            years = int(parts[0])
            months_part = parts[1].split(' Months')
            if len(months_part) == 2:
                months = int(months_part[0])
                return years * 12 + months
            else:
                return None
        return None
df['Credit_History_Age'] = df['Credit_History_Age'].apply(convert_to_months)

In [154]:
df['Credit_History_Age'].head()

0    265.0
1      NaN
2    267.0
3    268.0
4    269.0
Name: Credit_History_Age, dtype: float64