<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Lewandowski/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import pandas as pd
df = pd.read_csv("train.csv")
df.tail()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
26986,0xb420,CUS_0x51f,March,Dmitrya,56,910-56-2718,Lawyer,32937.83,NaN,8.0,...,Standard,134.09,40.065575,17 Years and 11 Months,No,79.585709,90.3623774367563,High_spent_Medium_value_payments,332.0338306833383,Standard
26987,0xb421,CUS_0x51f,April,Dmitrya,56,910-56-2718,Lawyer,32937.83,NaN,8.0,...,_,134.09,24.749124,18 Years and 0 Months,No,79.585709,NaN,Low_spent_Small_value_payments,337.07389443181967,Poor
26988,0xb422,CUS_0x51f,May,NaN,56_,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,_,134.09,31.360056,18 Years and 1 Months,No,79.585709,129.2962895769917,High_spent_Small_value_payments,303.09991854310294,Poor
26989,0xb423,CUS_0x51f,June,Dmitrya,56_,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,Standard,134.09,37.701736,18 Years and 2 Months,No,79.585709,NaN,Low_spent_Large_value_payments,256.27868478666824,Poor
26990,0xb424,CUS_0x51f,July,Dmitrya,56,910-56-2718,Lawyer,32937.83_,2519.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df.shape

(26991, 28)

In [103]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [104]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of            ID Customer_ID     Month           Name   Age          SSN  \
0      0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1      0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2      0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3      0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4      0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...       ...         ...       ...            ...   ...          ...
26986  0xb420   CUS_0x51f     March        Dmitrya    56  910-56-2718
26987  0xb421   CUS_0x51f     April        Dmitrya    56  910-56-2718
26988  0xb422   CUS_0x51f       May            NaN   56_  910-56-2718
26989  0xb423   CUS_0x51f      June        Dmitrya   56_  910-56-2718
26990  0xb424   CUS_0x51f      July        Dmitrya    56  910-56-2718

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                3.0  ...
1      Scientist      19114.12                    NaN                3.0  ...
2      Scientist      19114.12                    NaN                3.0  ...
3      Scientist      19114.12                    NaN                3.0  ...
4      Scientist      19114.12            1824.843333                3.0  ...
...          ...           ...                    ...                ...  ...
26986     Lawyer      32937.83                    NaN                8.0  ...
26987     Lawyer      32937.83                    NaN                8.0  ...
26988     Lawyer      32937.83            2519.819167                8.0  ...
26989     Lawyer      32937.83            2519.819167                8.0  ...
26990     Lawyer     32937.83_            2519.000000                NaN  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
26986    Standard            134.09                40.065575
26987           _            134.09                24.749124
26988           _            134.09                31.360056
26989    Standard            134.09                37.701736
26990         NaN               NaN                      NaN

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
26986  17 Years and 11 Months                     No           79.585709
26987   18 Years and 0 Months                     No           79.585709
26988   18 Years and 1 Months                     No           79.585709
26989   18 Years and 2 Months                     No           79.585709
26990                     NaN                    NaN                 NaN

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
26986        90.3623774367563  High_spent_Medium_value_payments
26987                     NaN    Low_spent_Small_value_payments
26988       129.2962895769917   High_spent_Small_value_payments
26989                     NaN    Low_spent_Large_value_payments
26990                     NaN                               NaN

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
26986   332.0338306833383     Standard
26987  337.07389443181967         Poor
26988  303.09991854310294         Poor
26989  256.27868478666824         Poor
26990                 NaN          NaN

[26991 rows x 28 columns]>

In [105]:
df['Age'] = df['Age'].str.replace('_','')

In [106]:
df['Age'] = df['Age'].str.replace('35_','35')
df['Age'] = df['Age'].str.replace('_','')

In [112]:
types_data = {
    "ID": str,
    "Customer_ID": str,
    "Month": str,
    "Name": str,
    "Age": int,
}

df.astype(types_data)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26986,0xb420,CUS_0x51f,March,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,Standard,134.09,40.065575,17 Years and 11 Months,No,79.585709,90.3623774367563,High_spent_Medium_value_payments,332.0338306833383,Standard
26987,0xb421,CUS_0x51f,April,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,_,134.09,24.749124,18 Years and 0 Months,No,79.585709,NaN,Low_spent_Small_value_payments,337.07389443181967,Poor
26988,0xb422,CUS_0x51f,May,nan,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,_,134.09,31.360056,18 Years and 1 Months,No,79.585709,129.2962895769917,High_spent_Small_value_payments,303.09991854310294,Poor
26989,0xb423,CUS_0x51f,June,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,Standard,134.09,37.701736,18 Years and 2 Months,No,79.585709,NaN,Low_spent_Large_value_payments,256.27868478666824,Poor
26990,0xb424,CUS_0x51f,July,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method='pad')

In [109]:
df['Annual_Income'] = df['Annual_Income'].str.replace('_','')

In [110]:
types_data = {
    "Annual_Income": "float64",
 }

df.astype(types_data)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26986,0xb420,CUS_0x51f,March,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,Standard,134.09,40.065575,17 Years and 11 Months,No,79.585709,90.3623774367563,High_spent_Medium_value_payments,332.0338306833383,Standard
26987,0xb421,CUS_0x51f,April,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,_,134.09,24.749124,18 Years and 0 Months,No,79.585709,NaN,Low_spent_Small_value_payments,337.07389443181967,Poor
26988,0xb422,CUS_0x51f,May,NaN,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,_,134.09,31.360056,18 Years and 1 Months,No,79.585709,129.2962895769917,High_spent_Small_value_payments,303.09991854310294,Poor
26989,0xb423,CUS_0x51f,June,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.819167,8.0,...,Standard,134.09,37.701736,18 Years and 2 Months,No,79.585709,NaN,Low_spent_Large_value_payments,256.27868478666824,Poor
26990,0xb424,CUS_0x51f,July,Dmitrya,56,910-56-2718,Lawyer,32937.83,2519.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,26991.000000,26990.000000,26990.000000,26990.000000,26990.000000,26467.000000,26990.000000,26990.000000
mean,4253.294606,16.410856,23.490478,67.565283,21.062542,26.191257,32.305693,1414.432820
std,3213.007677,113.472392,132.543982,442.680680,14.670133,183.323702,5.142963,8367.788477
min,333.596667,0.000000,0.000000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1652.388125,3.000000,4.000000,7.000000,10.000000,3.000000,28.032871,30.338204
50%,3123.886667,6.000000,6.000000,13.000000,18.000000,5.000000,32.319220,68.543763
75%,6075.653333,7.000000,7.000000,20.000000,28.000000,9.000000,36.567296,165.494144
max,14866.446667,1798.000000,1499.000000,5788.000000,67.000000,2594.000000,50.000000,82256.000000