<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Lewandowski/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv("train.csv")
df.tail()

<ipython-input-51-9cd020bc610d>:4: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [52]:
df.shape

(100000, 28)

In [53]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [54]:
df.drop_duplicates(subset="ID", inplace=True)

In [55]:
df['Age'] = df['Age'].str.replace('_','')

In [56]:
types_data = {
    "ID": str,
    "Customer_ID": str,
    "Month": str,
    "Name": str,
    "Age": int,
}

df.astype(types_data)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [57]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method='pad')

In [58]:
df['Annual_Income'] = df['Annual_Income'].str.replace('_','')

In [59]:
df['Age'] = df['Age'].str.replace('-','')

In [60]:
df["ID"] = df["ID"].astype(str)
df["Customer_ID"] = df["Customer_ID"].astype(str)
df["Month"] = df["Month"].astype(str)
df["Name"] = df["Name"].astype(str)
df["Age"] = df["Age"].astype(int)
df["Annual_Income"] = df["Annual_Income"].astype(float)
df["Monthly_Inhand_Salary"] = df["Monthly_Inhand_Salary"].astype(float)

In [61]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [62]:
df["ID"]=df["ID"].fillna('Brak informacji')
df['Customer_ID'] = df['Customer_ID'].fillna('Brak informacji')
df['Month'] = df['Month'].fillna('Brak informacji')
df['Name'] = df['Name'].fillna('Nieznane')

In [63]:
df = df.drop(df[df['Age'] > 100].index)

In [64]:
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(method='pad')

In [65]:
df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].astype(int)

In [66]:
FeaturesToConvert = ['Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.replace('_','')

In [67]:
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].astype(float)
df["Monthly_Balance"] = df["Monthly_Balance"].astype(float)
df["Credit_Utilization_Ratio"] = df["Credit_Utilization_Ratio"].astype(float)
df["Outstanding_Debt"] = df["Outstanding_Debt"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)
df = df.dropna(subset=["Changed_Credit_Limit"])
df = df[df["Changed_Credit_Limit"] != '']
df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].astype(float)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)

In [83]:
df["SSN"]=df["SSN"].fillna('Brak informacji')
df["SSN"] = df["SSN"].astype(str)
df["Occupation"]=df["Occupation"].fillna('Brak informacji')
df["Occupation"] = df["Occupation"].str.replace('_______','Brak informacji')
df["Occupation"] = df["Occupation"].astype(str)
df['Annual_Income'] = df['Annual_Income'].fillna(method='pad')
df["Annual_Income"] = df["Annual_Income"].astype(float)
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(0)
df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].astype(float)
df['Num_Credit_Card'] = df['Num_Credit_Card'].fillna(0)
df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(float)
df['Interest_Rate'] = df['Interest_Rate'].fillna(0)
df['Interest_Rate'] = df['Interest_Rate'].astype(float)
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(0)
df["Num_of_Loan"] = df["Num_of_Loan"].astype(float)
df['Type_of_Loan'] = df['Type_of_Loan'].fillna('Nieokreślony')
df["Type_of_Loan"] = df["Type_of_Loan"].astype(str)
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(0)
df["Delay_from_due_date"] = df["Delay_from_due_date"].astype(float)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(0)
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(float)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(0)
df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].astype(float)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(0)
df["Num_Credit_Inquiries"] = df["Num_Credit_Inquiries"].astype(float)
df['Credit_Mix'] = df['Credit_Mix'].fillna('Nieznane')
df["Credit_Mix"] = df["Credit_Mix"].astype(str)
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(0)
df["Outstanding_Debt"] = df["Outstanding_Debt"].astype(float)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(0)
df["Credit_Utilization_Ratio"] = df["Credit_Utilization_Ratio"].astype(float)
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].fillna('Brak informacji')
df["Payment_of_Min_Amount"] = df["Payment_of_Min_Amount"].astype(str)
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method='pad')
df["Total_EMI_per_month"] = df["Total_EMI_per_month"].astype(float)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method='pad')
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].astype(float)
df['Payment_Behaviour'] = df['Payment_Behaviour'].fillna('Brak informacji')
df["Payment_Behaviour"] = df["Payment_Behaviour"].astype(str)
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method='pad')
df["Monthly_Balance"] = df["Monthly_Balance"].astype(float)
df['Credit_Score'] = df['Credit_Score'].fillna('Brak informacji')
df["Credit_Score"] = df["Credit_Score"].astype(str)

In [84]:
def convert_to_years(text):
    if isinstance(text, str):
        parts = text.split()
        year = int(parts[0])
        month = int(parts[3])

        credit_age_numeric = year + month / 12
        return credit_age_numeric
    else:
        return text
df["Credit_History_Age"] = df["Credit_History_Age"].apply(lambda x: convert_to_years(x))

In [85]:
df["Credit_History_Age"] = df["Credit_History_Age"].fillna(0)
df["Credit_History_Age"] = df["Credit_History_Age"].astype(float)
df.head(50)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22.083333,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,0.000000,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,22.333333,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22.416667,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,27.262259,22.500000,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,22.537593,22.583333,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,nan,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,23.933795,0.000000,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,Brak informacji,34847.84,3037.986667,2.0,...,Good,605.03,24.464031,26.583333,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,38.550848,26.666667,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,_,605.03,33.224951,26.750000,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,39.182656,26.833333,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,34.977895,26.916667,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,33.381010,27.000000,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,31.131702,27.083333,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,605.03,32.933856,27.166667,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,Brak informacji,143162.64,12187.220000,1.0,...,Good,1303.01,28.616735,17.750000,No,246.992319,168.413703,!@9#%8,1043.315978,Good
17,0x161b,CUS_0x2dbc,February,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,41.702573,17.833333,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,Brak informacji,143162.64,12187.220000,1.0,...,Good,1303.01,26.519815,17.916667,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,_,1303.01,39.501648,0.000000,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,Brak informacji,143162.64,12187.220000,1.0,...,Good,1303.01,31.376150,18.083333,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good
21,0x161f,CUS_0x2dbc,June,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,39.783993,18.166667,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good
22,0x1620,CUS_0x2dbc,July,nan,34,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,38.068624,18.250000,No,246.992319,263.174163,High_spent_Small_value_payments,968.555517,Standard
23,0x1621,CUS_0x2dbc,August,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,38.374753,18.333333,No,246.992319,10000.000000,High_spent_Small_value_payments,895.494583,Standard
24,0x1626,CUS_0xb891,January,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,26.544229,17.250000,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard
25,0x1627,CUS_0xb891,February,Jasond,54,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,35.279982,17.333333,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard
26,0x1628,CUS_0xb891,March,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,32.301163,17.416667,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard
27,0x1629,CUS_0xb891,April,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,38.132348,17.500000,No,16.415452,272.334037,Low_spent_Small_value_payments,262.499594,Standard
28,0x162a,CUS_0xb891,May,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,41.154317,17.583333,No,16.415452,10000.000000,Low_spent_Large_value_payments,359.374916,Standard
29,0x162b,CUS_0xb891,June,Jasond,55,#F%$D@*&8,Brak informacji,30689.89,2612.490833,2.0,...,_,632.46,27.445422,17.666667,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard
30,0x162c,CUS_0xb891,July,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,26.056395,17.750000,No,16.415452,71.283675,Low_spent_Large_value_payments,443.549957,Standard
31,0x162d,CUS_0xb891,August,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,27.332515,17.833333,No,16.415452,125.617251,High_spent_Small_value_payments,379.216381,Standard
32,0x1632,CUS_0x1cdb,January,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,39.797764,30.666667,Yes,0.000000,276.725394,!@9#%8,288.605522,Standard
33,0x1633,CUS_0x1cdb,February,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,27.020360,30.750000,NM,0.000000,74.443641,High_spent_Medium_value_payments,460.887276,Standard
34,0x1634,CUS_0x1cdb,March,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,23.462303,30.833333,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,392.192266,Standard
35,0x1635,CUS_0x1cdb,April,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,_,943.86,28.924954,30.916667,Yes,0.000000,96.785485,High_spent_Medium_value_payments,438.545432,Standard
36,0x1636,CUS_0x1cdb,May,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,_,943.86,41.776187,31.000000,Yes,0.000000,62.723278,High_spent_Small_value_payments,482.607638,Standard
37,0x1637,CUS_0x1cdb,June,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,29.217556,31.083333,Yes,0.000000,37.643638,High_spent_Medium_value_payments,497.687279,Standard
38,0x1638,CUS_0x1cdb,July,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,26.263823,31.166667,Yes,0.000000,181.011983,Low_spent_Small_value_payments,394.318934,Standard
39,0x1639,CUS_0x1cdb,August,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7.0,...,Standard,943.86,25.862922,31.250000,Yes,0.000000,181.330901,High_spent_Small_value_payments,364.000016,Standard
40,0x163e,CUS_0x95ee,January,Np,31,612-70-8987,Lawyer,73928.46,2853.309167,4.0,...,Good,548.20,39.962685,0.000000,No,15015.000000,98.674410,High_spent_Large_value_payments,740.196090,Good
41,0x163f,CUS_0x95ee,February,Np,31,612-70-8987,Brak informacji,73928.46,5988.705000,4.0,...,Good,548.20,42.769864,32.000000,NM,0.000000,172.939214,Low_spent_Medium_value_payments,705.931286,Good
42,0x1640,CUS_0x95ee,March,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,Good,548.20,40.712187,0.000000,No,0.000000,150.059734,High_spent_Medium_value_payments,698.810766,Good
43,0x1641,CUS_0x95ee,April,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,Good,548.20,30.201658,32.166667,No,0.000000,618.202391,Low_spent_Small_value_payments,270.668109,Good
44,0x1642,CUS_0x95ee,May,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,_,548.20,26.333310,32.250000,No,0.000000,177.951836,Low_spent_Large_value_payments,690.918664,Good
45,0x1643,CUS_0x95ee,June,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,Good,548.20,35.275437,0.000000,No,15515.000000,235.790325,Low_spent_Large_value_payments,633.080175,Good
46,0x1644,CUS_0x95ee,July,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,_,548.20,36.624791,32.416667,No,0.000000,348.509400,High_spent_Small_value_payments,510.361100,Standard
47,0x1645,CUS_0x95ee,August,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4.0,...,Good,548.20,31.580990,32.500000,No,0.000000,42.635590,!@9#%8,796.234910,Good
48,0x164a,CUS_0x284a,January,Nadiaq,33,411-51-0676,Lawyer,131313.40,11242.783333,0.0,...,Good,352.16,32.200509,30.583333,NM,137.644605,378.171254,High_spent_Medium_value_payments,858.462474,Good
49,0x164b,CUS_0x284a,February,Nadiaq,34,411-51-0676,Lawyer,131313.40,11242.783333,0.0,...,Good,352.16,31.983710,30.666667,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good
50,0x164c,CUS_0x284a,March,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0.0,...,Good,352.16,31.803134,30.750000,NM,911.220179,188.064321,High_spent_Large_value_payments,1038.569407,Good

In [88]:
df["Credit_History_Age"] = df["Credit_History_Age"].astype(float)
df.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,95187.000000,9.518700e+04,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,95187.000000,9.518700e+04
mean,33.321945,1.763202e+05,4193.707451,17.109742,22.517319,72.404982,2.928425,21.083709,28.772732,10.389471,27.263818,1426.612176,32.281054,16.768114,1400.548482,636.081730,-3.151691e+22
std,10.778458,1.428338e+06,3185.150992,117.426310,129.123593,467.256492,61.973183,14.863040,218.030012,6.790566,191.296196,1155.804836,5.115557,9.527191,8289.333101,2039.712457,3.241104e+24
min,14.000000,7.005930e+03,303.645417,-1.000000,0.000000,1.000000,-100.000000,-5.000000,-3.000000,-6.480000,0.000000,0.230000,20.000000,0.000000,0.000000,0.000000,-3.333333e+26
25%,24.000000,1.945549e+04,1625.188333,3.000000,4.000000,8.000000,1.000000,10.000000,8.000000,5.340000,3.000000,566.080000,28.049728,9.500000,30.370735,74.569049,2.667556e+02
50%,33.000000,3.757392e+04,3088.874167,6.000000,5.000000,13.000000,3.000000,18.000000,13.000000,9.410000,5.000000,1166.080000,32.301174,17.333333,69.284467,135.955352,3.338782e+02
75%,42.000000,7.279092e+04,5957.448333,7.000000,7.000000,20.000000,5.000000,28.000000,18.000000,14.860000,9.000000,1945.680000,36.494073,24.333333,161.747685,266.305321,4.668002e+02
max,100.000000,2.419806e+07,15204.633333,1798.000000,1499.000000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,4998.070000,50.000000,33.666667,82331.000000,10000.000000,1.602041e+03

In [94]:
le = LabelEncoder()

columns_to_code = ['Occupation', 'Annual_Income', 'Monthly_Balance', 'Payment_Behaviour', "Credit_Score"]

df[columns_to_code] = df[columns_to_code].apply(LabelEncoder().fit_transform)

df.head(50)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,_,809.98,26.822620,22.083333,No,49.574949,80.415295,3,38827,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,Good,809.98,31.944960,0.000000,No,49.574949,118.280222,4,28678,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,Good,809.98,31.377862,22.333333,No,49.574949,199.458074,6,10077,0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,Good,809.98,24.797347,22.416667,No,49.574949,41.420153,2,47650,0
5,0x1607,CUS_0xd40,June,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,Good,809.98,27.262259,22.500000,No,49.574949,62.430172,0,47391,0
6,0x1608,CUS_0xd40,July,Aaron Maashoh,9,821-00-0265,13,3021,1824.843333,3.0,...,Good,809.98,22.537593,22.583333,No,49.574949,178.344067,6,14659,0
7,0x1609,CUS_0xd40,August,nan,9,#F%$D@*&8,13,3021,1824.843333,3.0,...,Good,809.98,23.933795,0.000000,No,49.574949,24.785217,2,51683,2
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,14,004-07-5839,2,5812,3037.986667,2.0,...,Good,605.03,24.464031,26.583333,No,18.816215,104.291825,6,69480,2
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,38.550848,26.666667,No,18.816215,40.391238,1,70830,0
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,_,605.03,33.224951,26.750000,No,18.816215,58.515976,1,69009,2
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,39.182656,26.833333,No,18.816215,99.306228,5,68922,0
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,34.977895,26.916667,No,18.816215,130.115420,6,66479,0
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,33.381010,27.000000,No,18.816215,43.477190,1,70548,0
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,31.131702,27.083333,NM,18.816215,70.101774,2,68847,0
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,14,004-07-5839,14,5812,3037.986667,2.0,...,Good,605.03,32.933856,27.166667,No,18.816215,218.904344,6,51183,0
16,0x161a,CUS_0x2dbc,January,Langep,20,486-85-3974,2,12134,12187.220000,1.0,...,Good,1303.01,28.616735,17.750000,No,246.992319,168.413703,0,90730,0
17,0x161b,CUS_0x2dbc,February,nan,20,486-85-3974,5,12134,12187.220000,1.0,...,Good,1303.01,41.702573,17.833333,No,246.992319,232.860384,3,90197,0
18,0x161c,CUS_0x2dbc,March,Langep,20,486-85-3974,2,12134,12187.220000,1.0,...,Good,1303.01,26.519815,17.916667,No,246.992319,10000.000000,3,83544,0
19,0x161d,CUS_0x2dbc,April,Langep,20,486-85-3974,5,12134,12187.220000,1.0,...,_,1303.01,39.501648,0.000000,No,246.992319,825.216270,5,64004,0
20,0x161e,CUS_0x2dbc,May,Langep,20,486-85-3974,2,12134,12187.220000,1.0,...,Good,1303.01,31.376150,18.083333,No,246.992319,430.947528,4,86459,0
21,0x161f,CUS_0x2dbc,June,Langep,20,486-85-3974,5,12134,12187.220000,1.0,...,Good,1303.01,39.783993,18.166667,No,246.992319,257.808099,2,89670,0
22,0x1620,CUS_0x2dbc,July,nan,20,486-85-3974,5,12134,12187.220000,1.0,...,Good,1303.01,38.068624,18.250000,No,246.992319,263.174163,3,89750,2
23,0x1621,CUS_0x2dbc,August,Langep,20,486-85-3974,5,12134,12187.220000,1.0,...,Good,1303.01,38.374753,18.333333,No,246.992319,10000.000000,3,88501,2
24,0x1626,CUS_0xb891,January,Jasond,40,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,26.544229,17.250000,No,16.415452,81.228859,4,64995,2
25,0x1627,CUS_0xb891,February,Jasond,40,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,35.279982,17.333333,No,16.415452,124.881820,6,61489,2
26,0x1628,CUS_0xb891,March,Jasond,41,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,32.301163,17.416667,NM,16.415452,83.406509,2,61739,2
27,0x1629,CUS_0xb891,April,Jasond,41,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,38.132348,17.500000,No,16.415452,272.334037,6,20306,2
28,0x162a,CUS_0xb891,May,Jasond,41,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,41.154317,17.583333,No,16.415452,10000.000000,4,52008,2
29,0x162b,CUS_0xb891,June,Jasond,41,#F%$D@*&8,2,4938,2612.490833,2.0,...,_,632.46,27.445422,17.666667,No,16.415452,84.952848,3,63024,2
30,0x162c,CUS_0xb891,July,Jasond,41,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,26.056395,17.750000,No,16.415452,71.283675,4,66306,2
31,0x162d,CUS_0xb891,August,Jasond,41,072-31-6145,6,4938,2612.490833,2.0,...,Good,632.46,27.332515,17.833333,No,16.415452,125.617251,3,56234,2
32,0x1632,CUS_0x1cdb,January,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,39.797764,30.666667,Yes,0.000000,276.725394,0,30261,2
33,0x1633,CUS_0x1cdb,February,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,27.020360,30.750000,NM,0.000000,74.443641,2,68406,2
34,0x1634,CUS_0x1cdb,March,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,23.462303,30.833333,Yes,0.000000,173.138651,5,58639,2
35,0x1635,CUS_0x1cdb,April,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,_,943.86,28.924954,30.916667,Yes,0.000000,96.785485,2,65625,2
36,0x1636,CUS_0x1cdb,May,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,_,943.86,41.776187,31.000000,Yes,0.000000,62.723278,3,70640,2
37,0x1637,CUS_0x1cdb,June,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,29.217556,31.083333,Yes,0.000000,37.643638,2,72057,2
38,0x1638,CUS_0x1cdb,July,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,26.263823,31.166667,Yes,0.000000,181.011983,6,58954,2
39,0x1639,CUS_0x1cdb,August,Deepaa,7,615-06-7821,3,5968,2853.309167,7.0,...,Standard,943.86,25.862922,31.250000,Yes,0.000000,181.330901,3,53018,2
40,0x163e,CUS_0x95ee,January,Np,17,612-70-8987,8,9559,2853.309167,4.0,...,Good,548.20,39.962685,0.000000,No,15015.000000,98.674410,1,84398,0
41,0x163f,CUS_0x95ee,February,Np,17,612-70-8987,2,9559,5988.705000,4.0,...,Good,548.20,42.769864,32.000000,NM,0.000000,172.939214,5,83185,0
42,0x1640,CUS_0x95ee,March,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,Good,548.20,40.712187,0.000000,No,0.000000,150.059734,2,82905,0
43,0x1641,CUS_0x95ee,April,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,Good,548.20,30.201658,32.166667,No,0.000000,618.202391,6,23351,0
44,0x1642,CUS_0x95ee,May,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,_,548.20,26.333310,32.250000,No,0.000000,177.951836,4,82623,0
45,0x1643,CUS_0x95ee,June,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,Good,548.20,35.275437,0.000000,No,15515.000000,235.790325,4,80164,0
46,0x1644,CUS_0x95ee,July,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,_,548.20,36.624791,32.416667,No,0.000000,348.509400,3,73045,2
47,0x1645,CUS_0x95ee,August,Np,17,612-70-8987,8,9559,5988.705000,4.0,...,Good,548.20,31.580990,32.500000,No,0.000000,42.635590,0,86084,0
48,0x164a,CUS_0x284a,January,Nadiaq,19,411-51-0676,8,11890,11242.783333,0.0,...,Good,352.16,32.200509,30.583333,NM,137.644605,378.171254,2,87724,0
49,0x164b,CUS_0x284a,February,Nadiaq,20,411-51-0676,8,11890,11242.783333,0.0,...,Good,352.16,31.983710,30.666667,No,137.644605,698.873271,3,75618,0
50,0x164c,CUS_0x284a,March,Nadiaq,20,411-51-0676,8,11890,10469.207759,0.0,...,Good,352.16,31.803134,30.750000,NM,911.220179,188.064321,1,90677,0