<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/hreczany/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder(categories=[["Bachelor\'s", "Master\'s", "PhD"]])
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_absolute_error
df = pd.read_csv('/content/Salary Data (2).csv')
df.shape

(375, 6)

In [68]:
df.drop_duplicates()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
348,28.0,Female,Bachelor's,Junior Operations Manager,1.0,35000.0
349,36.0,Male,Bachelor's,Senior Business Development Manager,8.0,110000.0
350,44.0,Female,PhD,Senior Data Scientist,16.0,160000.0
351,31.0,Male,Bachelor's,Junior Marketing Coordinator,3.0,55000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0

In [69]:
czy_puste_wartosci_w_kolumnach = df.isnull().any()
print(czy_puste_wartosci_w_kolumnach)
df.dtypes
df.dropna(inplace=True)

Age                    True
Gender                 True
Education Level        True
Job Title              True
Years of Experience    True
Salary                 True
dtype: bool

In [70]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Gender'] = df['Gender'].astype('string')
df['Education Level'] = df['Education Level'].astype('string')
df['Job Title'] = df['Job Title'].astype('string')

In [71]:
df['Education Level'] = df['Education Level'].astype('string')
df['Job Title'] = df['Job Title'].astype('string')
df.Gender = le.fit_transform(df.Gender)


df['Education Level'] = enc.fit_transform(df[['Education Level']])
df["Job Title"] = le.fit_transform(df["Job Title"])

In [72]:
x = df.drop(columns='Salary')

X_train, X_test, y_train, y_test = train_test_split(x, df['Salary'], test_size=0.33, random_state=42)

In [73]:
# Inicjalizacja i dopasowanie modelu regresji liniowej
model = LinearRegression()
model.fit(X_train, y_train)

# Przewidywanie na zbiorze testowym
y_pred = model.predict(X_test)

In [74]:
median_absolute_error(y_test,y_pred)
mean_absolute_error(y_test,y_pred)

11647.136609116484