<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Zyrek/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv("train.csv")
df.drop_duplicates(subset="ID", inplace=True)

df.drop(columns=['ID','Customer_ID','SSN','Name'], inplace=True)

df['Credit_History_Age'] = (pd.to_numeric(df["Credit_History_Age"].str.split(" ", expand=True)[0], errors='coerce') * 12 +
                            pd.to_numeric(df["Credit_History_Age"].str.split(" ", expand=True)[3], errors='coerce'))

FeaturesToConvert = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly',
                     'Monthly_Balance']

for feature in FeaturesToConvert:
   df[feature] = df[feature].str.strip('-_')
   df[feature] = df[feature].replace({'':np.nan})
   df[feature] = df[feature].astype('float64')

df['Monthly_Inhand_Salary']= df['Monthly_Inhand_Salary'].fillna(method='pad')


age_mean = df[(df['Age'] <= 120) & (df['Age'] >= 1)]['Age'].mean()
df['Age'] = df['Age'].fillna(age_mean)

df.loc[df['Age'] > 120, 'Age'] = age_mean
df.loc[df['Age'] < 1, 'Age'] = age_mean

df['Month'] = df['Month'].fillna('No info')
df['Occupation'] = df['Occupation'].fillna('No info')
df['Type_of_Loan'] = df['Type_of_Loan'].fillna('No info')
df['Credit_Mix'] = df['Credit_Mix'].fillna('No info')
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].fillna('No info')
df['Payment_Behaviour'] = df['Payment_Behaviour'].fillna('No info')
df['Credit_Score'] = df['Credit_Score'].fillna('No info')

df['Annual_Income'] = df['Annual_Income'].fillna(method='pad')
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method='pad')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method='pad')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method='pad')

df['Credit_History_Age'] = df['Credit_History_Age'].fillna(0)
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(0)
df['Num_Credit_Card'] = df['Num_Credit_Card'].fillna(0)
df['Interest_Rate'] = df['Interest_Rate'].fillna(0)
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(0)
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(0)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(0)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(0)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(0)
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(0)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(0)


columns_to_code = ['Occupation','Annual_Income','Monthly_Balance', 'Credit_Score']

le = LabelEncoder()
df[columns_to_code] = df[columns_to_code].apply(LabelEncoder().fit_transform)
df.Age = le.fit_transform(df.Age)

df.head(10)

<ipython-input-26-5f0317624193>:9: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,40780,0
1,February,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,0.0,No,49.574949,118.280222,Low_spent_Large_value_payments,30114,0
2,March,20,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,46907,0
3,April,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,10564,0
4,May,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,50026,0
5,June,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,49746,0
6,July,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,15406,0
7,August,9,12,3021,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,23.933795,0.0,No,49.574949,24.785217,High_spent_Medium_value_payments,54252,2
8,January,14,15,5812,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,72958,2
9,February,14,13,5812,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,74387,0