<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/wilmanski/Zajecia4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_absolute_error

In [53]:
df = pd.read_csv("salary.csv")
print(df.dtypes)

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [54]:
df.dropna(inplace=True)

In [55]:
df['Education Level'] = df['Education Level'].astype('string')
df['Job Title'] = df['Job Title'].astype('string')

In [50]:
df.dtypes

Age                    float64
Gender                   int64
Education Level        float64
Job Title                int64
Years of Experience    float64
Salary                 float64
dtype: object

In [56]:
# stwórz obiekt enkodera
le = LabelEncoder()
df.Gender = le.fit_transform(df.Gender)
df['Job Title'] = le.fit_transform(df['Job Title'])

In [57]:
# obiekt ordinal enkodera
enc = OrdinalEncoder(categories=[["Bachelor\'s", "Master\'s", "PhD"]])
df['Education Level'] = enc.fit_transform(df[['Education Level']])
df.drop(columns='Salary')
y = df["Salary"]

In [58]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [62]:
# Inicjalizacja i dopasowanie modelu regresji liniowej
model = LinearRegression()
model.fit(X_train, y_train)

# Przewidywanie na zbiorze testowym
y_pred = model.predict(X_test)

median_absolute_error(y_test,y_pred)

7.275957614183426e-12

In [63]:
mean_absolute_error(y_test,y_pred)

8.321143057753121e-12