<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/wilmanski/Zaj%C4%99cia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')

In [4]:
print(df.head())

       ID Customer_ID     Month           Name   Age          SSN Occupation  \
0  0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0      19114.12            1824.843333                  3  ...           _
1      19114.12                    NaN                  3  ...        Good
2      19114.12                    NaN                  3  ...        Good
3      19114.12                    NaN                  3  ...        Good
4      19114.12            1824.843333                  3  ...        Good

   Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0            809.98                26.822620  22 Years and 1 Months
1            809.98                31.944960                    NaN
2            809.98                28.609352  22 Years and 3 Months
3            809.98                31.377862  22 Years and 4 Months
4            809.98                24.797347  22 Years and 5 Months

   Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                     No           49.574949       80.41529543900253
1                     No           49.574949      118.28022162236736
2                     No           49.574949         81.699521264648
3                     No           49.574949       199.4580743910713
4                     No           49.574949      41.420153086217326

                  Payment_Behaviour     Monthly_Balance Credit_Score
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 28 columns]

In [8]:
print(df.shape)

(53930, 28)

In [9]:
print(df.drop_duplicates())

            ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
53925  0x151f7  CUS_0x4460      June         Daveyx    54  909-64-1351
53926  0x151f8  CUS_0x4460      July         Daveyx    54  909-64-1351
53927  0x151f9  CUS_0x4460    August         Daveyx    54  909-64-1351
53928  0x151fe  CUS_0xc0b3   January            NaN    44  973-12-0733
53929  0x151ff  CUS_0xc0b3  February         Grantg    44  973-12-0733

       Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0       Scientist      19114.12            1824.843333                  3
1       Scientist      19114.12                    NaN                  3
2       Scientist      19114.12                    NaN                  3
3       Scientist      19114.12                    NaN                  3
4       Scientist      19114.12            1824.843333                  3
...           ...           ...                    ...                ...
53925  Accountant     14566.335            1105.861250                  4
53926  Accountant     14566.335            1105.861250                  4
53927  Accountant     14566.335            1105.861250                  4
53928   Scientist     15990.655            1244.554583                  7
53929   Scientist     15990.655            1244.554583                  7

       ...  Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0      ...           _            809.98                26.822620
1      ...        Good            809.98                31.944960
2      ...        Good            809.98                28.609352
3      ...        Good            809.98                31.377862
4      ...        Good            809.98                24.797347
...    ...         ...               ...                      ...
53925  ...        Good            765.44                31.960446
53926  ...        Good            765.44                27.172551
53927  ...        Good            765.44                40.035934
53928  ...    Standard           1214.53                34.070673
53929  ...    Standard           1214.53                32.892446

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
53925   30 Years and 8 Months                     No           19.082335
53926   30 Years and 9 Months                     No           19.082335
53927  30 Years and 10 Months                     No           19.082335
53928   14 Years and 1 Months                    Yes           53.918469
53929   14 Years and 2 Months                    Yes           53.918469

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
53925       99.56582008186192    Low_spent_Small_value_payments
53926               __10000__  High_spent_Medium_value_payments
53927       59.85784043265989   High_spent_Small_value_payments
53928       80.85327108647152    Low_spent_Small_value_payments
53929      34.569232631010735   Low_spent_Medium_value_payments

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
53925  281.93797036208235     Standard
53926  299.32727448191736         Good
53927  291.64595001128447         Good
53928   279.6837183154413     Standard
53929  315.96775677090204           St

[53930 rows x 28 columns]