<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/wilmanski/Zaj%C4%99cia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('train.csv')

<ipython-input-11-cd75a77447fc>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

Wymiary

In [13]:
print(df.shape)

(100000, 28)

Wyrzucenie duplikat√≥w

In [9]:
print(df.drop_duplicates())

            ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
53925  0x151f7  CUS_0x4460      June         Daveyx    54  909-64-1351
53926  0x151f8  CUS_0x4460      July         Daveyx    54  909-64-1351
53927  0x151f9  CUS_0x4460    August         Daveyx    54  909-64-1351
53928  0x151fe  CUS_0xc0b3   January            NaN    44  973-12-0733
53929  0x151ff  CUS_0xc0b3  February         Grantg    44  973-12-0733

       Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0       Scientist      19114.12            1824.843333                  3
1       Scientist      19114.12                    NaN                  3
2       Scientist      19114.12                    NaN                  3
3       Scientist      19114.12                    NaN                  3
4       Scientist      19114.12            1824.843333                  3
...           ...           ...                    ...                ...
53925  Accountant     14566.335            1105.861250                  4
53926  Accountant     14566.335            1105.861250                  4
53927  Accountant     14566.335            1105.861250                  4
53928   Scientist     15990.655            1244.554583                  7
53929   Scientist     15990.655            1244.554583                  7

       ...  Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0      ...           _            809.98                26.822620
1      ...        Good            809.98                31.944960
2      ...        Good            809.98                28.609352
3      ...        Good            809.98                31.377862
4      ...        Good            809.98                24.797347
...    ...         ...               ...                      ...
53925  ...        Good            765.44                31.960446
53926  ...        Good            765.44                27.172551
53927  ...        Good            765.44                40.035934
53928  ...    Standard           1214.53                34.070673
53929  ...    Standard           1214.53                32.892446

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
53925   30 Years and 8 Months                     No           19.082335
53926   30 Years and 9 Months                     No           19.082335
53927  30 Years and 10 Months                     No           19.082335
53928   14 Years and 1 Months                    Yes           53.918469
53929   14 Years and 2 Months                    Yes           53.918469

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
53925       99.56582008186192    Low_spent_Small_value_payments
53926               __10000__  High_spent_Medium_value_payments
53927       59.85784043265989   High_spent_Small_value_payments
53928       80.85327108647152    Low_spent_Small_value_payments
53929      34.569232631010735   Low_spent_Medium_value_payments

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
53925  281.93797036208235     Standard
53926  299.32727448191736         Good
53927  291.64595001128447         Good
53928   279.6837183154413     Standard
53929  315.96775677090204           St

[53930 rows x 28 columns]

In [14]:
df = df.astype({col: 'string' for col in df.select_dtypes(['object']).columns})
print(df.dtypes)

ID                           string
Customer_ID                  string
Month                        string
Name                         string
Age                          string
SSN                          string
Occupation                   string
Annual_Income                string
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  string
Type_of_Loan                 string
Delay_from_due_date           int64
Num_of_Delayed_Payment       string
Changed_Credit_Limit         string
Num_Credit_Inquiries        float64
Credit_Mix                   string
Outstanding_Debt             string
Credit_Utilization_Ratio    float64
Credit_History_Age           string
Payment_of_Min_Amount        string
Total_EMI_per_month         float64
Amount_invested_monthly      string
Payment_Behaviour            string
Monthly_Balance              string
Credit_Score                 string
dtype: object